<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hors.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="cn.hors.bean.Account">
    <!--@mbg.generated-->
    <!--@Table account-->
    <id column="account_id" jdbcType="INTEGER" property="accountId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="role_id" jdbcType="INTEGER" property="roleId"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    account_id, account, `password`,role_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from account
    where account_id = #{accountId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from account
    where account_id = #{accountId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="account_id" keyProperty="accountId" parameterType="cn.hors.bean.Account" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into account (account, `password`,role_id)
    values (#{account,jdbcType=VARCHAR}, MD5(#{password}),#{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="account_id" keyProperty="accountId" parameterType="cn.hors.bean.Account" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="account != null and account!=''">
        account,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="roleId != null and roleId!=''">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="account != null and account!=''">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null and password!=''">
        MD5(#{password}),
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hors.bean.Account">
    <!--@mbg.generated-->
    update account
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = MD5(#{password,jdbcType=VARCHAR}),
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
    </set>
    where account_id = #{accountId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hors.bean.Account">
    <!--@mbg.generated-->
    update account
    set account = #{account,jdbcType=VARCHAR},
      `password` = MD5(#{password}), role_id = #{roleId,jdbcType=INTEGER}
    where account_id = #{accountId,jdbcType=INTEGER}
  </update>
  <select id="login" resultMap="BaseResultMap">
  select  <include refid="Base_Column_List"></include>
  from account where account = #{account,jdbcType=VARCHAR} and `password` = MD5(#{password})
</select>
</mapper>