<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hors.mapper.DepartmentsMapper">
    <resultMap id="BASIC_RESULT_MAP" type="cn.hors.bean.Departments">
        <id property="departId" column="depart_id"/>
        <result property="departName" column="depart_name"/>
        <result property="introduce" column="introduce"/>
        <result property="date" column="date"/>
         <result property="phone" column="phone"/>
        <result property="dId" column="d_id"/>
        <result property="phone" column="phone"/>
        <association property="parent" javaType="cn.hors.bean.Departments" select="findEntityById" column="d_id"/>
        <collection property="children" ofType="cn.hors.bean.Departments" column="{dId=depart_id}" select="findAll"/>
        <collection property="doctors" ofType="cn.hors.bean.Doctor"
        column="depart_id" select="cn.hors.mapper.DoctorMapper.findAllByDepartId"/>
    </resultMap>
    
<sql id="Base_Column_List">
    depart_id,depart_name,introduce,`date`,d_id,phone
</sql>

<sql id="BASIC_WHERE">
    <if test="departId != null">
        and depart_id = #{departId}
    </if>
    <if test="departName != null and departName != ''">
        and depart_name = #{departName}
    </if>
    <if test="introduce != null and introduce != ''">
        and introduce = #{introduce}
    </if>
    <if test="date != null">
        and `date`=#{date}
    </if>
    <if test="dId != null">
        and d_id = #{dId}
    </if>
    <if test="phone != null and phone != ''">
        and phone = #{phone}
    </if>
</sql>

<select id="findEntityById" parameterType="integer" resultType="cn.hors.bean.Departments">
        select
            <include refid="Base_Column_List">
            </include>
            from departments where depart_id=#{departId}
    </select>

<select id="findById" resultMap="BASIC_RESULT_MAP">
    select <include refid="Base_Column_List"></include>
    from departments where depart_id = #{departId}
</select>

<select id="findAll" parameterType="cn.hors.bean.Departments" resultMap="BASIC_RESULT_MAP">
    select <include refid="Base_Column_List"></include>
    from departments
    <where>
        <include refid="BASIC_WHERE"></include>
    </where>
</select>
<select id="findAllByDid" resultMap="BASIC_RESULT_MAP">
    select <include refid="Base_Column_List"></include>
    from departments where d_id = #{dId}
</select>

<select id="findAllByDepartId" resultMap="BASIC_RESULT_MAP">
    select <include refid="Base_Column_List"></include>
    from departments where depart_id = #{departId}
</select>


<delete id="deleteByIds" parameterType="Integer">
delete from departments where
<foreach collection="ids" item="id" open="depart_id in (" separator="," close=")">
#{id}
</foreach>
</delete>

<select id="findDepartIdByDid" parameterType="Integer" resultType="Integer">
select depart_id from departments where d_id = #{id}
</select>
<update id="update" parameterType="Departments">
   update departments
    <set>
      <if test="departName != null and departName != ''">
       depart_name = #{departName},
      </if>
      <if test="introduce != null and introduce != ''">
        introduce = #{introduce},
      </if>
      <if test="date != null">
         date = #{date},
      </if>
      <if test="phone != null and phone != ''">
        phone = #{phone}
      </if>
    </set>
    where depart_id = #{departId}
</update>


<insert id="insert" parameterType="Departments" useGeneratedKeys="true" keyColumn="depart_id" keyProperty="departId">
insert into departments(depart_name,introduce,date,phone
  <choose>
  <when test="dId != null">
  ,d_id)
</when>
<otherwise>
)
</otherwise>
</choose>
  values (#{departName},#{introduce},#{date},#{phone}
  <choose>
  <when test="dId != null">
  ,#{dId})
</when>
<otherwise>
)
</otherwise>
</choose>
</insert>
<select id="findChildDepart" resultMap="BASIC_RESULT_MAP">
    select <include refid="Base_Column_List"></include>
    from departments
        where d_id != -1
</select>
</mapper>