<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hors.mapper.TimelineMapper">
  <resultMap id="BaseResultMap" type="cn.hors.bean.Timeline">
    <id column="t_id" jdbcType="INTEGER" property="tId" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="quota" jdbcType="INTEGER" property="quota" />
    <result column="start_time" jdbcType="VARCHAR" property="startTime" />
    <result column="end_time" jdbcType="VARCHAR" property="endTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    t_id, doctor_id, `date`, quota, start_time, end_time, `status`
  </sql>
  <sql id="Base_Insert_Columns">
    <trim suffixOverrides=",">
        <if test="tId != null">t_id,</if>
        <if test="doctorId != null">doctor_id,</if>
        <if test="date != null">date,</if>
        <if test="quota != null">quota,</if>
        <if test="startTime != null and startTime != ''">start_time,</if>
        <if test="endTime != null and endTime != ''">end_time,</if>
        <if test="status != null">status,</if>
    </trim>
  </sql>
  <sql id="Base_Insert_Values">
    <trim suffixOverrides=",">
        <if test="tId != null">#{tId},</if>
        <if test="doctorId != null">#{doctorId},</if>
        <if test="date != null">#{date},</if>
        <if test="quota != null">#{quota},</if>
        <if test="startTime != null and startTime != ''">#{startTime},</if>
        <if test="endTime != null and endTime != ''">#{endTime},</if>
        <if test="status != null">#{status},</if>
    </trim>
  </sql>
  <sql id="Base_Update">
    <trim suffixOverrides=",">
        <if test="tId != null">t_id=#{tId},</if>
        <if test="doctorId != null">doctor_id=#{doctorId},</if>
        <if test="date != null">date=#{date},</if>
        <if test="quota != null">quota=#{quota},</if>
        <if test="startTime != null and startTime != ''">start_time=#{startTime},</if>
        <if test="endTime != null and endTime != ''">end_time#{endTime},</if>
        <if test="status != null">status=#{status},</if>
    </trim>
  </sql>
  <sql id="Base_Where">
    <if test="tId!=null"> and t_id=#{tId}</if>
    <if test="doctorId!=null and doctorId!=''">and doctor_id=#{doctorId}</if>
    <if test="date != null">date=#{date}</if>
    <if test="quota != null">and quota=#{quota}</if>
    <if test="startTime != null and startTime != ''">and start_time=#{startTime}</if>
    <if test="endTime != null and endTime != ''">and end_time#{endTime}</if>
    <if test="status != null">and status=#{status}</if>
  </sql>

  <insert id="insert" parameterType="Timeline" useGeneratedKeys="true" keyProperty="id">
    insert into timeline(<include refid="Base_Insert_Columns"></include>)
    values (<include refid="Base_Insert_Values"></include>)
  </insert>
  <delete id="delByIds" >
    delete from timeline
    <where>
        <foreach collection="ids" open="t_id in (" close=")" separator="," item="id">
         #{id,jdbcType=INTEGER}
         </foreach>
    </where>
  </delete>
  <update id="update" parameterType="Timeline">
    update timeline
    <set>
        <include refid="Base_Update"></include>
    </set>
    where t_id=#{tId,jdbcType=INTEGER}
  </update>
  <select id="findById" parameterType="Timeline" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from timeline
    where t_id=#{tId,jdbcType=INTEGER}
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from timeline
    <where>
        <include refid="Base_Where"></include>
    </where>
  </select>
  <select id="findByDoctorId" resultType="Timeline">
        select <include refid="Base_Column_List"></include>
        from timeline
        where doctor_id=#{doctorId,jdbcType=INTEGER}
  </select>
  <select id="findByDoctorIdAndDate" resultType="Timeline">
    select <include refid="Base_Column_List"></include>
    from timeline
    where doctor_id=#{doctorId,jdbcType=INTEGER} and date=#{date} and status=1
  </select>
  <update id="updateQuota" parameterType="integer">
    update timeline
    set quota=(quota-1)
    where t_id=#{tId,jdbcType=INTEGER}
  </update>
</mapper>