<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <script src="../static/layui/layui.js" data-th-src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" data-th-href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <style>
        .layui-breadcrumb{
            line-height: 30px;
        }
    </style>
    <title>Title</title>
</head>
<body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-circle-fine"></i>新增患者</button>
        <button class="layui-btn layui-btn-sm" lay-event="del"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>

<!--对后台传输的性别 1 2 数据进行转变显示-->
<script type="text/html" id="sexChange">
    {{#if (d.sex == 1) { }}
    <span>男</span>
    {{# }else if(d.sex == 2){ }}
    <span>女</span>
    {{# } }}
</script>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <span class="layui-breadcrumb" lay-separator="/">
  <a data-th-href="@{/}">首页</a>
  <a href="javascript:;">权限管理</a>
  <a><cite>患者管理</cite></a>
</span>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                <div class="layui-inline">
                    <label class="layui-form-label">患者账号:</label>
                    <div class="layui-input-inline">
                        <input type="text" name="account" placeholder="请患者账号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <button class="layui-btn" lay-submit lay-filter="query">
                            <i class="layui-icon layui-icon-search"> </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <table class="layui-hide" id="table_data" lay-filter="table_filter"></table>
        </div>
    </div>
</div>
<script data-th-inline="javascript">
    layui.use(["table","layer","jquery","element","form"],function () {
        let {table,layer,$,form} = layui; //解构
        table.render({
            id:'reload',
            elem:'#table_data',
            url:/*[[@{/patient}]]*/ 'data/patient.json',
            cellMinWidth: 80
            ,toolbar: '#toolbarDemo',//开启头部工具栏，并为其绑定左侧模板
            page:true,
            cols:[
                [
                    {field:'left', width:80, type:"checkbox"},
                    {field:'accountId', width:80, title: 'ID', sort: true}
                    ,{field:'account', width:80, title: '账号'}
                    ,{width:80, title: '姓名',templet:function (d) {
                        return d.userInfo?d.userInfo.name:'-';
                    }}
                    ,{width:200, title: '身份证号',templet:function (d) {
                        return d.userInfo?d.userInfo.identityId:'-';
                    }}
                    ,{width:80, title: '性别',templet:function (d) {
                        return d.userInfo.sex==1?'男':'女';
                    }}
                    ,{width:150, title: '出生日期',templet:function (d) {
                        return d.userInfo?d.userInfo.birth:'-';
                    }}
                    ,{width:150, title: '电话',templet:function (d) {
                        return d.userInfo?d.userInfo.phone:'-';
                    }}
                    ,{width:150, title: '邮箱',templet:function (d) {
                        return d.userInfo?d.userInfo.email:'-';
                    }}
                    ,{width:80, title: '家庭住址',templet:function (d) {
                        return d.userInfo?d.userInfo.address:'-';
                    }}
                    ,{width:150, title: '注册时间',templet:function (d) {
                        return d.userInfo?d.userInfo.registerTime:'-';
                    }}
                    ,{field:'password',title: '密码',width:150}
                    ,{field:'roleId',width:150,title: '身份' ,templet:function (d) {
                        // <span class="layui-badge">赤</span>
                        //     layui-bg-orange
                        //         <span class="layui-badge layui-bg-orange">橙</span>
                        //         <span class="layui-badge layui-bg-green">绿</span>
                        //         <span class="layui-badge layui-bg-blue">蓝</span>

                        let color = '';
                        let text =  '';
                        switch(d.roleId){
                            case 8: color='layui-bg-green';text='普通患者';break;
                            case 9: color='';text='黑名单患者';break;
                            // case 'u': color='layui-bg-orange';text='修改';break;
                            // case 'd': color='';text='删除';break;
                        }
                        return `<span class="layui-badge ${color}">${text}</span>&emsp;`;
                    }
                }
                ,{}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:250}
                ]
            ]
        });

        form.on("submit(query)",function (e) {
            console.log(e.field.account);
            table.reload("reload",{
                where:e.field
            });
            return false;
        });

        table.on('toolbar(table_filter)', function(e){
            if(e.event == 'add'){
                //iframe层-父子操作
                layer.open({
                    type: 2,
                    area: ['350px', '450px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: /*[[@{/patient/edit}]]*/''
                });
            }else if(e.event == 'del'){
                let status = table.checkStatus('reload');
                if( status.data.length==0){
                    layer.msg("请选择需要删除的账号");
                }else{
                    //选中的账号名称(,分割)
                    //[{patient:`a`},{patient:`b`}]=>"a,b"
                    let patientList = status.data.map(d=>d.userInfo.name).join(",");
                    //[{id:`1`},{id:`2`}]=>"id=1&id=2"
                    //选中的账号id(&分割)
                    let ids = status.data.map(d=>'id='+d.accountId).join("&");
                    del(`确认是否删除账号:[${patientList}]?`,ids);
                }
            }
        });
        //监听行工具栏事件
        table.on('tool(table_filter)', function(e){
            if(e.event == "edit"){
                layer.open({
                    type: 2,
                    area: ['350px', '200px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '[(@{/patient/edit})]/'+e.data.accountId
                });
            }else if(e.event == 'del'){
                del(`确认是否删除账号:[${e.data.userInfo.name}]?`,`id=${e.data.accountId}`);
            }else if(e.event == 'authorize'){
                layer.open({
                    type: 2,
                    area: ['450px', '400px'],
                    fixed: false, //不固定
                    maxmin: true,
                    content: '[(@{/patient/authorize})]/'+e.data.accountId
                });
            }
        });
        function del(msg,parameter) {
            layer.confirm(msg,{icon: 3, title:'温馨提示'},function(){
                //显示正在加载
                let index = layer.load(2,{shade:0.3});
                $.ajax({
                    url: '[(@{/patient})]?'+parameter,
                    type: 'delete',
                    dataType:'json',
                    success:function (rs){
                        //关闭正在加载
                        layer.close(index);
                        if(rs.code==0){
                            //重载表格数据
                            table.reload('reload');
                            layer.msg(rs.msg,{icon:6});
                        }else{
                            layer.msg(rs.msg,{icon:5});
                        }
                    }
                });
            });
        }
    });
    //头工具事件监听
    //事件名 toolbar
    //过滤器
</script>
</body>
</html>