<!DOCTYPE html>
<html lang="en">
<head>
    <title>用户设置</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/spark-md5/3.0.0/spark-md5.js"></script>
    <script>
        $(function () {
            $("[name=file]").change(function (e) {
                var file = this.files[0];
                //创建文件读取对象
                var fileReader = new FileReader();
                //定义缓存
                var buff = 2<<20;
                //读取次数
                var maxCount =  Math.ceil(file.size/buff);
                //当前读取次数
                var current = 0;
                //   得到分片读取文件的函数
                var slice = File.prototype.slice;
                //创建md5计算对象
                var spart = new SparkMD5.ArrayBuffer();
                //onload
                fileReader.onload=function (){
                    //将读取的数据放入md5计算对象
                    spart.append(this.result);
                    if(current >= maxCount){
                        //获得md5
                        var md5 = spart.end();
                        console.log(md5);
                        $("#upload").text("上传").attr("disabled",false);
                        $.get("/exists",{md5},function (rs) {
                            if(rs.exists) {
                                alert("文件秒传完成");
                            }
                        },'json')
                    }else{
                        readFile();
                    }
                }
                function readFile() {
                    // file start end
                    var start = current*buff;
                    var end = (start+buff)>file.size? file.size:(start+buff);
                    fileReader.readAsArrayBuffer(slice.call(file,start,end));
                    current++;
                    //设置动态下标
                    $("#progress").val(end);
                }
                //开始解析MD5
                $("#progress").val(0).attr("max",file.size);
                $("#upload").text("正在校验文件...").attr("disabled",true);
                readFile();
            });
        })
    </script>
</head>
<body>
<progress id="progress"></progress>
<form action="/backstage/fileUpload" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" data-th-value="${session.LOGIN_STATUS?.id}">
    <input type="file" name="file">
    <button type="submit" id="upload">上传</button>
</form>
</body>
</html>