<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增界面</title>
    <script src="../static/layui/layui.js" data-th-src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" data-th-href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
    <style>
        body{
            padding-right: 15px;
            padding-top: 15px;
        }
    </style>
</head>
<body>
<form class="layui-form">
    <input type="hidden" name="id" data-th-value="${role?.id}">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入角色名称" autocomplete="off" class="layui-input" data-th-value="${role?.name}" lay-verify="name">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色代码:</label>
        <div class="layui-input-block">
            <input type="text" name="code"  placeholder="请输入角色代码" autocomplete="off" class="layui-input" data-th-value="${role?.code}" lay-verify="code">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script data-th-inline="javascript">
    layui.use(['form','jquery'], function() {
        let {form,$} = layui;
        //监听提交
        form.verify({
            name:function(value){
                if(value==null||value.length==0){
                    return '角色名称不为空';
                }
            }
            ,code:function (value) {
                if(value==null || value.length ==0){
                    return '角色代码不为空';
                }
            }});
        form.on('submit(formSubmit)', function (data) {
            $.ajax({
                url: /*[[@{/role}]]*/ '/save',
                type: 'pu3' +
                    't',
                data: data.field,
                dataType:'json',
                success:function (rs) {
                   if(rs.code==0){
                       var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                       parent.layer.close(index);//关闭当前窗口
                       parent.layer.msg(rs.msg,{icon:6});//在父页面弹出提示框
                       parent.layui.table.reload('reload');//重载父页面的表格数据
                   }else{
                       layer.msg(rs.msg,{icon:5});
                   }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>