<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增界面</title>
    <script src="../static/layui/layui.js" data-th-src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" data-th-href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css"  media="all">
    <script data-th-inline="javascript">
        layui.config({
            base: '[(@{/layui/extends/})]',
        }).extend({
            authtree: 'authtree/authtree',
            xmSelect: 'xmSelect/xm-select'
        });
    </script>
    <style>
        body{
            padding-right: 15px;
            padding-top: 15px;
        }
    </style>
</head>
<body>

<form class="layui-form" action="">
    <input type="hidden" id="tid" name="tid"  data-th-value="${timeline?.tid}">


    <div class="layui-form-item">
        <label class="layui-form-label">医生名字</label>
        <div class="layui-input-inline">
            <select lay-search="" lay-verify="required" autocomplete="off" id="doctors" name="doctorId" lay-reqtext="医生的名字，岂能为空？" >
                <option value="">请选择医生名字</option>
<!--                <option data-th-each="doctor:${doctors}" data-th-value="${doctor.doctorId}" data-th-text="${doctor.name}"></option>-->
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">排班日期</label>
            <div class="layui-input-inline">
                <input type="text" data-th-value="${timeline?.date}" name="date" lay-verify="required|date" lay-reqtext="排班日期，岂能为空？" class="layui-input" id="test30" placeholder="yyyy-MM-dd">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">可预约数量</label>
        <div class="layui-input-inline">
            <input type="text" name="quota" lay-verify="number|Ndouble" lay-reqtext="可预约数量，岂能为空？" placeholder="请输入" data-th-value="${timeline?.quota}" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">时间段</label>
        <div class="layui-input-inline">
            <input type="radio" lay-verify="startTime" name="startTime" value="8:00"  title="8：00~9：00"  checked="">
            <input type="radio" lay-verify="startTime" name="startTime" value="9:00"  title="9：00~10：00" data-th-checked="${timeline?.startTime} eq '9:00'">
            <input type="radio" lay-verify="startTime" name="startTime" value="10:00" title="10：00~11：00" data-th-checked="${timeline?.startTime} eq '10:00'">
            <input type="radio" lay-verify="startTime" name="startTime" value="11:00" title="11：00~12：00" data-th-checked="${timeline?.startTime} eq '11:00'">
            <input type="radio" lay-verify="startTime" name="startTime" value="14:00" title="14：00~15：00" data-th-checked="${timeline?.startTime} eq '14:00'">
            <input type="radio" lay-verify="startTime" name="startTime" value="15:00" title="15：00~16：00" data-th-checked="${timeline?.startTime} eq '15:00'">
            <input type="radio" lay-verify="startTime" name="startTime" value="16:00" title="16：00~17：00" data-th-checked="${timeline?.startTime} eq '16:00'">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <input type="radio" name="status" value="1" title="可预约" checked="" >
            <input type="radio" name="status" value="0" title="停诊"  data-th-checked="${timeline?.status} eq '0'">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit"class="layui-btn"  lay-submit lay-filter="formSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script data-th-inline="javascript" type="text/javascript">
    layui.use(['form','jquery','xmSelect','laydate','upload'], function() {
        let {form,$,xmSelect,laydate,upload} = layui;
        //日期 自定义颜色
        laydate.render({
            elem: '#test30'
            ,theme: '#393D49'
        });


        //页面加载初始化 编辑时选中 动态添加下拉框     同时可以设置默认值
        $.ajax({
            url:"/timeline/getDoctors",
            dataType:'json',
            type:'post',
            success:function(d) {
                var doctorId = [[${timeline?.doctorId}]];
                console.log(doctorId);
                for (var i in d.data) {
                    //option  第一个参数是页面显示的值，第二个参数是传递到后台的值
                    $('#doctors').append(new Option(d.data[i].name, d.data[i].doctorId));//往下拉菜单里添加元素
                    //设置value（这个值就可以是在更新的时候后台传递到前台的值）为2的值为默认选中
                    $('#doctors').val(doctorId);
                }
                form.render(); //更新全部表单内容
                //form.render('select'); //刷新表单select选择框渲染
            }
        });

        //自定义表单验证
        form.verify({
            Ndouble:[
                /^[1-9]\d*$/
                ,'只能输入整数哦'
            ],
            date:function (value,item) {
                var datas={startTime:  $('input[name="startTime"]:checked').val(),date:value,doctorId: $("#doctors").val(),tid: $("#tid").attr("value")};
                console.log(datas);
                var message = '';
                $.ajax({
                    type:"POST",
                    url:"/timeline/checkTimeline",
                    async: false, //改为同步请求
                    contentType:'application/json;charset=UTF-8',
                    data:JSON.stringify(datas),
                    dataType:'json',
                    success:function(data){
                        if(data){

                        }else{
                            message ="医生排班信息已存在，请重新选择！"
                        }
                    }
                });
                //需要注意 需要将返回信息写在ajax方法外
                if (message !== '')
                    return message;
            }

        });


        //监听提交
        form.on('submit(formSubmit)', function (data) {
            console.log(data);
            $.ajax({
                url: /*[[@{/timeline}]]*/ '/save',
                type: 'put',
                data: data.field,
                dataType:'json',
                success:function (rs) {
                   if(rs.code==0){
                       var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                       parent.layer.close(index);//关闭当前窗口
                       parent.layer.msg(rs.msg,{icon:6});//在父页面弹出提示框
                       parent.layui.table.reload('reload');//重载父页面的表格数据
                   }else{
                       layer.msg(rs.msg,{icon:5});
                   }
                }
            });
            return false;
        });


    });
</script>
</body>
</html>