<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' media='screen' />
    <link href='favicon.ico' type='image/x-icon' media='screen' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>湖南省统一预约挂号服务平台</title>
    <link rel="stylesheet" href="../static/hors/css/style.css" type="text/css" data-th-href="@{/hors/css/style.css}"/>
</head>
</head>
<body>
<form id="myInformation" action="updateInformation.action" enctype="multipart/form-data" method="post">

    <div class="personal clearfix">

        <div class="personal_top"></div>
        <div class="personal_middle">
            <div class="personal_left">
                <div class="touxiang"></div>
                <div class="touxiang_js">
                    您好！





                    王鑫鹏

                    <br> 欢迎来到湖南省统一预约挂号服务平台！
                </div>
                <div class="personal_nav">
                    <ul>
                        <li>
                            <div class="personal_nav_top">
                                <b>预约管理</b>
                            </div>
                            <div class="personal_nav_nr">
                                <ul>
                                    <li><a href="myselfOrder.action">我的预约单</a></li>
                                    <li><a href="myCommentation.action">我的评论</a></li>
                                    <!--<li><a href="BreakContractList.action">违约信息</a></li> -->
                                    <li><a href="viewCollectDoctorList.action?doctorCollectResult=">医生收藏</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="zhanghu_nav_top">
                                <b>账户管理</b>
                            </div>
                            <div class="personal_nav_nr">
                                <ul>
                                    <li><a href="myInformation.action">基本信息</a></li>
                                    <li><a href="myFamilyManage.action">成员管理</a></li>
                                    <li><a href="safeManage.action">安全中心</a></li>
                                </ul>
                            </div>
                        </li>
                        <!--<li>
                            <div class="card_nav_top">
                                <b>充值卡管理</b>
                            </div>
                            <div class="personal_nav_nr">
                                <ul>
                                    <li><a href="queryBalance.action">余额查询</a>
                                    </li>
                                    <li><a href="consumeHistory.action">消费记录</a>
                                    </li>
                                    <li><a href="rechargeHistory.action">充值记录</a>
                                    </li>
                                </ul>
                            </div></li>-->
                    </ul>
                </div>
            </div>
            <div class="personal_right">
                <div class="member_top">
                    <div>
                        <span id="information">基本信息</span>
                    </div>
                    <div style="float: right;display: none;">
						<span class="change_add" style="width: 75px;"><a href="javascript:sendHealthRecords('430603********0518')">个人健康档案</a>
						</span>
                    </div>
                </div>

                <div class="member_nr">

                    <ul>
                        <li>姓 名：王**</li>
                        <li>性 别：
                            男

                        </li>
                        <li>身份证号&nbsp;&nbsp;：430603********0518<input name="orderwebUser.papersNum" type="hidden" value="430603********0518"></li>
                        <li><span style="float:left">健康卡号&nbsp;&nbsp;：</span><input id="jmjkNum" name="rderwebUser.jmjkNum" type="text" class="change_in" disabled="disabled" style="float:left" value="">
                            <div id="jmjkNumID" style="display: none;float:left;margin-left:10px">


			                              		<span class="anniu">
			                              			<a href="javascript:void(0)" id="jkk" onclick="bindJkk('430603********0518');" class="white">绑定健康卡</a>
			                              		</span>

                            </div>
                        </li>



                        <li>手机号码<font class="red">*</font>：<input id="userPhone" name="orderwebUser.userPhone" onblur="regiterManage2()" type="text" class="change_in" value="176****6802" maxlength="11" size="11" disabled="">
                            <input id="userPhoneIsRegister" value="false" type="hidden">
                            <span id="userPhoneError" style="color: red; font-size: 12px; text-align: center; font-weight: bold"></span>
                        </li>
                        <li>电子邮箱&nbsp;&nbsp;：<input id="userEmail" name="orderwebUser.userEmail" onblur="regiterManage3()" type="text" class="change_in" value="" maxlength="20" size="20" disabled="">
                            <span id="userEmailError" style="color: red; font-size: 12px; text-align: center; font-weight: bold"></span>
                            <input id="userEmailIsRegister" value="false" type="hidden">
                        </li>
                        <li><!-- 联系地址&nbsp;&nbsp;&nbsp;&nbsp;： --><input id="userAdress" name="orderwebUser.userAdress" type="hidden" class="change_in" value="" maxlength="25" size="25" disabled=""></li>
                        <li>证件图片：</li>
                        <li>
                            <div id="userPhotoRegister" style="color: red; margin-left: 30px; margin-top: 5px; display: none;" <span="">身份证已审核通过，无需上传！！
                </div>
                <div id="papers1">

                    <img height="150px" width="200px" src="images/statu0.gif">
                    <img height="150px" width="200px" src="images/statu0.gif">


                </div>
                <div id="papers" style="display: none;">
                    <div style="float: left;" class="shang">
                        <div id="field0" style="margin-left: 60px; width: 150px; height: 150px; background: #F5F5F5; border: 1px dashed #000; position: relative; z-index: 1;">
                            <input style="display: none; width: 150px; height: 150px; position: absolute; top: 0px; left: 0; z-index: 2;" class="fileInput" type="file" name="upload" id="file0" onchange="javascript:setImagePreview(0);"> <img style="padding: 30px 45px 10px 45px; width: 60px; height: 60px;" src="images/shangchuan1.png" onclick="pic_open_upload0()" title="点此上传">

                            <p style="padding: 0px 0px 0px 10px;">点此上传身份证正面照</p>
                        </div>
                        <div id="localImag0" style="display: none;">
                            <img style="margin-left: 60px; width: 150px; height: 150px; border: 1px dashed #000; position: relative; z-index: 1;" id="img0" src="" title="点此上传身份证正面照">
                        </div>
                    </div>

                    <div style="float: left;" class="shang">
                        <div id="field1" style="margin-left: 20px; width: 150px; height: 150px; background: #F5F5F5; border: 1px dashed #000; position: relative; z-index: 1;">
                            <input style="display: none; width: 150px; height: 150px; position: absolute; top: 0px; left: 0; z-index: 2;" class="fileInput" type="file" name="upload" id="file1" onchange="javascript:setImagePreview(1);"> <img style="padding: 30px 45px 10px 45px; width: 60px; height: 60px;" src="images/shangchuan1.png" onclick="pic_open_upload1()" title="点此上传">

                            <p style="padding: 0px 0px 0px 10px;">点此上传身份证反面照</p>
                        </div>
                        <div id="localImag1" style="display: none;">
                            <img style="margin-left: 20px; width: 150px; height: 150px; border: 1px dashed #000; position: relative; z-index: 1;" id="img1" src="" title="点此上传身份证反面照">
                        </div>
                    </div>
                </div>

                </li>
                <input id="userPhotoStatu" value="0" type="hidden">
                <li>
                    <div id="attention" style="color: red; margin-left: 30px; margin-top: 5px; display: none;">
                        <span>（注：请上传证件正反面照片！图片大小1M以内，图片格式为*.jpg、*.bmp、*.png、*.jpeg）</span>
                    </div>
                </li>
                <li>
                    <div id="auditStatu">审核状态:&nbsp;




                        未上传

                    </div>
                </li>
                </ul>
            </div>

            <div class="member_nr">
                <div id="anniu" style="margin-left:200px;">
                    <span class="anniu"><a href="javascript:void(0)" id="cancel" onclick="edit();" class="white">编 辑</a></span>
                    <span class="anniu" id="saveSpan" style="display: none;">
							<a id="save" href="javascript:void(0)" onclick="upDateInfoMessage('是否保存修改','',updateInfo)" class="white">保 存</a>
						</span>
                    <!-- <span class="anniu"><a href="#" onclick="updateInfo();"
                        class="white">保 存</a> </span><span class="anniu"><a href="#"
                        onclick="history.back();" class="white">取 消</a> </span> -->
                </div>
            </div>
        </div>
    </div>

    <div class="personal_bottom"></div>
    </div>
</form>
</body>
</html>