<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="../static/hors/js/main2.js" data-th-src="@{/hors/js/main2.js}"></script>
</head>
<body>
   <table>
       <tr>
           <th>ID</th>
           <td>111</td>
       </tr>
       <tr>
           <th>昵称</th>
           <td>111</td>
       </tr>
       <tr>
           <th>性别</th>
           <td>男</td>
       </tr>
       <tr>
           <th>生日</th>
           <td>111</td>
       </tr>
   </table>
</body>
</html>