<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body style="height: 100%">
<div data-th-each="user:${users}" data-th-object="${user}">
   <table border="1" cellpadding="10" style="margin-left: 135px;width: 60%">
       <tr hidden="hidden">
           <td id="p1">ID</td>
           <td data-th-text="*{userId}">111</td>
       </tr>
       <tr>
           <td id="p1" style="text-align: center;">名字</td>
           <td data-th-text="*{name}">111</td>
       </tr>
       <tr>
           <td id="p1" style="text-align: center;">身份证</td>
           <td data-th-text="*{identityId}">111</td>
       </tr>
       <tr>
           <td id="p1" style="text-align: center;">性别</td>
           <td data-th-text="*{sex==0?'女':'男'}">男</td>
       </tr>
       <tr>
           <td id="p1" style="text-align: center;">生日</td>
           <td data-th-text="*{birth}">111</td>
       </tr>
       <tr>
           <td id="p1" style="text-align: center;">图片
            <input hidden="hidden" data-th-value="*{picture}" name></td>
           <td ><img data-th-src="*{picture}"></td>
       </tr>
       <tr>
           <td id="p1" style="text-align: center;">手机</td>
           <td data-th-text="*{phone}">111</td>
       </tr>
       <tr>
           <td id="p1" style="text-align: center;">邮箱</td>
           <td data-th-text="*{email}">111</td>
       </tr>
       <tr>
           <td id="p1" style="text-align: center;">地址</td>
           <td data-th-text="*{address}">111</td>
       </tr>
       <tr>
           <td id="p1" style="text-align: center;">注册时间</td>
           <td data-th-text="*{#dates.format(registerTime,'yyyy-MM-dd HH:mm:ss')}">111</td>
       </tr>
   </table>
    <a href="javascript:;" data-th-href="@{/user/editor/{id}(id=${user?.userId})}">
        <input type="submit" name="update" value="修改"
               style="width: 10%;position: relative;margin-left: 20%;margin-top: 20px;padding: 7px;">
    </a>
    <script type="text/javascript">
        let picture=user.picture;
        var url = "../static/hors/images/"+{picture};
        document.getElementById("pic").src = url;
    </script>
</div>
</body>
</html>