<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
</head>
<body>
<div data-th-each="orders:${orders}" data-th-object="${orders}">
    <table>
        <tr>
            <th>预约ID</th>
            <th>预约人</th>
            <th>预约医生</th>
            <th>预约时段</th>
            <th>预约状态</th>
            <th>联系电话</th>
            <th>价钱</th>
            <th>操作</th>
        </tr>
        <tr>
            <td data-th-text="*{orderId}">预约ID</td>
            <td data-th-text="*{orderUser?.name}">预约人</td>
            <td data-th-text="*{doctor?.name}">预约医生</td>
            <td>
            <p data-th-text="*{#dates.format(timeline?.date,'yyyy-MM-dd')}"></p>
            <p data-th-text="*{timeline?.startTime}""*{timeline?.endTime}"></p>
            </td>
            <td data-th-text="*{status==0?'预约失败':'预约成功'}">预约状态</td>
            <td data-th-text="*{userPhone}">联系电话</td>
            <td data-th-text="*{cost}">价钱</td>
            <td><input type="button" value="评论" data-th-href="@{/user/reback/{id}(id=${user?.userId})}"></td>
        </tr>
    </table>
</div>
</body>
</html>