<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="../static/layui/layui.js" data-th-src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" data-th-href= "@{/layui/css/layui.css}" href="../static/layui/css/layui.css "/>
    <style>
        body{
            padding: 15px;
        }
    </style>
</head>
<body data-th-each="account:${account}" data-th-object="${account}">
<form class="layui-form" method="post"  action="/user/uacc" style="width: 40%">
    <input type="hidden" data-th-value="${account?.accountId}" name="accountId">
    <input type="hidden" data-th-value="${account?.account}" name="account">
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password"  lay-verify="required"  autocomplete="off" class="layui-input">
        </div>
    </div>
    <input type="hidden" data-th-value="${account?.roleId}" name="roleId">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <input class="layui-btn" type="submit"value="修改" onclick="myFunction()">
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script data-th-inline="javascript">
    layui.use(['form','jquery'], function(){
        let {form,$} = layui;
        //监听提交
        form.on('submit(formSubmit)', function(data){
            $.ajax({
                url:/*[[@{/user/uacc}]]*/ 'saveAcc',
                type:'post',
                data:data.field,
                dataType:'json',
                success:function (rs) {
                    if(rs.code == 0){
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);//关闭当前弹窗
                        parent.layer.msg(rs.msg,{icon:6});//重载父页面的表格数据
                        parent.layui.table.reload('table_reload');
                    }else {
                        layer.msg(rs.msg,{icon:5});
                    }
                }
            });
            return false;
        });
    });
</script>
<script>
    function myFunction() {
        var txt;
        if (confirm("确认提交？")) {
            txt = "提交成功";
        } else {
            txt = "取消提交";
        }
        document.getElementById("demo").innerHTML = txt;
    }
</script>
</body>
</html>



