<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>医院简介 - 医院概况 - 河南省人民医院</title>
    <meta name="Keywords" content="医院简介" />
    <meta name="Description"
        content="河南省人民医院前身是中华基督教内地会1904年创办的开封“福音医院”。1950年2月被正式命名为“河南省人民医院”。1955年3月，随省政府迁址郑州，至今已有115年历史。 医院位于郑州市环境优美..." />
    <meta name="robots" content="All" /><noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm" /></noscript>
    <!--[if lt IE 7]><meta http-equiv="refresh" content="0; url=/YouLose.htm" /><![endif]-->
    <meta name="Author" content="miraclevision technical team,kunyi" />
    <meta name="Copyright" content="www.miraclevision.net,铭成奇迹" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" data-th-href="@{/hors/css/normalize.css}" href="../static/hors/css/normalize.css" type="text/css" />
    <link rel="stylesheet" data-th-href="@{/hors/css/secondary.css}" href="../static/hors/css/secondary.css" type="text/css" />
    <!--[if lt IE 9]><script type="text/javascript" data-th-src="@{/hors/js/Kunyi.Respond.min.js}" src="../static/hors/js/Kunyi.Respond.min.js" ></script><![endif]-->
    <script type="text/javascript" data-th-src="@{/hors/js/KunyiHTML5.min.js}" src="../static/hors/js/KunyiHTML5.min.js"></script>
    <script type="text/javascript" data-th-src="@{/hors/js/Kunyilibrary.js}" src="../static/hors/js/Kunyilibrary.js"></script>
</head>

<body>
    <script type="text/javascript" data-th-src="@{/hors/js/Kunyi.Init.js?v=1.1}" src="../static/hors/js/Kunyi.Init.js?v=1.1"></script>
    <header>
        <div class="topHidden"></div>
        <div class="toolBase">
            <div class="BaseMark">
                <ul>
                    <li class="first"><a href="SiteMap.html">站点地图</a></li>
                    <li><a href="Complain.html">院长(信访)信箱</a></li>
                    <li><a href="https://117.158.199.166:55555" target="_blank">新内部OA</a></li>
                    <li><a href="https://117.158.199.164:12000/por/login_psw.csp" target="_blank">内部OA</a></li>
                    <li><a href="OfficeNewsList-71-12.html">人才招聘</a></li>
                    <li><a href="Office-71.html">人事管理</a></li>
                    <li><a href="History.html">网上院史馆</a></li>
                    <li><a href="Message.html">在线留言</a></li>
                    <li><a href="javascript:;" onclick="Kunyi.AddFavorite(window.location,document.title)">加入收藏</a></li>
                </ul>
                <div class="reglogin" id="DIVMemberInfo">您好，请&nbsp;<a href="login.html">登录</a>&nbsp;|&nbsp;<a
                        href="Register.html">注册</a></div>
                <div class="language">选择语言</div><a href="/" class="langBtn"><i class="flag"></i>中文</a><a
                    href="http://en.hnsrmyy.net/" target="_blank" class="langBtn langBtnE"><i
                        class="flag"></i>English</a>
            </div>
        </div>
        <div class="BaseMark logoBase"><a href="Index.html"><img data-th-src="@{/hors/images/logo.jpg}" src="../static/hors/images/logo.jpg" class="load"
                    data-original="../static/hors/images/logo.jpg" width="227" height="47" /></a>
            <div class="searchBase">
                <div class="itemBase">
                    <div class="divType" data-state="0">全站内容</div>
                    <ul>
                        <li data-id="1">全站内容</li>
                        <li data-id="2">医生查找</li>
                        <li data-id="3">新闻动态</li>
                    </ul>
                </div>
                <form method="get" action="Search.html" onsubmit="return Kunyi.CheckSearchForm()"><input type="hidden"
                        id="Type" name="Type" value="1" /><input type="text" name="SearchWords"
                        placeholder="请输入您要查找内容的关键字" value="" autocomplete="off" onfocus="Kunyi.cls(event)"
                        onblur="Kunyi.res(event)" maxlength="28" id="SearchWords" /><input type="submit" value="搜索"
                        class="boxsub animated" /></form>
            </div>
        </div>
    </header>
    <nav>
        <div class="navBase">
            <div class="quickMenuBase" data-type="0">
                <div class="quickMenu03" ><img data-th-src="@{/hors/images/ico_013.png}"
                                               src="../static/hors/images/ico_013.png" width="16" height="16" /> <em data-th-text="快捷菜单">快捷菜单</em>
                </div>
                <div class="quickMenus">
                    <ul class="firstUl">
                        <li class="first">
                            <a href="jiuzhen.html" class="firstA"><em>就诊指南</em><i
                                    class="style01"></i><span></span></a>
                            <div class="QMSub QMSubMenus">
                                <ul>
                                    <li><a data-th-href="@{/depart/jiuzhen}" href="jiuzhen.html" title="就诊流程">就诊流程<span>进入</span></a></li>
                                    <li><a data-th-href="@{/depart/keshi/-1}" href="keshi.html" title="科室导航">科室导航<span>进入</span></a></li>
                                    <li><a data-th-href="@{/depart/chuzhen}" href="DutyTime.html" title="出诊安排">出诊安排<span>进入</span></a></li>
                                    <li><a data-th-href="@{/depart/luxian}" href="Article-57.html" title="来院路线">来院路线<span>进入</span></a></li>
                                </ul>
                                <ul>
                                    <li><a href="Article-65.html" title="信息查询">信息查询<span>进入</span></a></li>
                                    <li><a href="https://map.baidu.com/poi/%E6%B9%96%E5%8D%97%E8%99%B9%E7%8C%AB%E4%BF%A1%E6%81%AF%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@12575210.205,3256269.74,19z?uid=95ec9d88422fdbe8e5e96572&ugc_type=3&ugc_ver=1&device_ratio=2&compat=1&querytype=detailConInfo&da_src=shareurl" target="_blank" title="省医地图">省医地图<span>进入</span></a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                        <li class="first"><a data-th-href="@{/depart/keshi/-1}" href="" target="_blank" class="firstA"><em>预约挂号</em><i
                                class="style02"></i><span></span></a>
                        </li>
                        <li class="first"><a data-th-href="@{/depart/chuzhen}" href="chuzhen.html" class="firstA"><em>出诊安排</em><i
                                class="style03"></i><span></span></a>
                            <div class="QMSub QMSubMenus">
                                <ul>
                                    <li data-th-each="department:${departs}" data-th-object="${department}"><a data-th-href="@{/depart/keshilist(dId=*{departId})}" href="keshilist.html" data-th-title="*{departName}" data-th-text="*{departName}">内科<span>进入</span></a></li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </li>
                        <li class="first"><a href="keshi.html" class="firstA"><em>专家介绍</em><i
                                class="style04"></i><span></span></a>
                            <div class="QMSub QMSubList">
                                <div class="IndexWords">
                                    <h5>按医生姓名首字母查找</h5>
                                    <ul>
                                        <li>A</li>
                                        <li>B</li>
                                        <li>C</li>
                                        <li>D</li>
                                        <li>E</li>
                                        <li>F</li>
                                        <li>G</li>
                                        <li>H</li>
                                        <li>I</li>
                                        <li>J</li>
                                        <li>K</li>
                                        <li>L</li>
                                        <li>M</li>
                                        <li>N</li>
                                        <li>O</li>
                                        <li>P</li>
                                        <li>Q</li>
                                        <li>R</li>
                                        <li>S</li>
                                        <li>T</li>
                                        <li>U</li>
                                        <li>V</li>
                                        <li>W</li>
                                        <li>X</li>
                                        <li>Y</li>
                                        <li>Z</li>
                                    </ul>
                                </div>
                                <div class="clear"></div>
                                <div class="DList"></div>
                            </div>
                        </li>
                        <li class="first"><a data-th-href="@{/depart/keshi/-1}" href="keshi.html" class="firstA"><em>专科介绍</em><i
                                class="style05"></i><span></span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav Snav">
                <ul>
                    <li class="PMenu"><a data-th-href="@{/}" href="index.html" class="PAMenu">首页</a></li>
                    <li class="PMenu">
                        <a data-th-href="@{/depart/keshi/-1}" href="jiuzhen.html" id="Nav_AMenu0" class="PAMenu" title="就诊指南">就诊指南</a>
                        <div class="navboxBase">
                            <div class="navboxBg">
                                <div class="navbox BaseMark">
                                    <div class="navMenus">
                                        <ul>
                                            <li><a data-th-href="@{/depart/keshi/-1}" href="keshi.html" title="科室导航">科室导航<span>进入</span></a></li>

                                            <li><a data-th-href="@{/depart/chuzhen}" href="DutyTime.html" title="出诊安排">出诊安排<span>进入</span></a></li>

                                            <li><a data-th-href="@{/depart/luxian}" href="Article-57.html" title="来院路线">来院路线<span>进入</span></a></li>

                                            <li><a href="Article-65.html" title="信息查询">信息查询<span>进入</span></a></li>

                                            <li><a href="https://map.baidu.com/poi/%E6%B9%96%E5%8D%97%E8%99%B9%E7%8C%AB%E4%BF%A1%E6%81%AF%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@12575210.205,3256269.74,19z?uid=95ec9d88422fdbe8e5e96572&ugc_type=3&ugc_ver=1&device_ratio=2&compat=1&querytype=detailConInfo&da_src=shareurl" target="_blank" title="省医地图">省医地图<span>进入</span></a></li>

                                        </ul>
                                    </div>
                                    <div class="navSub2 nav_Menu01">
                                        <dl>
                                            <dt>尊敬的病人家属：</dt>
                                            <dd class="pic"><img data-th-src="@{/hors/pic/pic_001.jpg}"
                                                                 src="../static/hors/pic/pic_001.jpg" width="126"
                                                                 height="77"></dd>
                                            <dd class="text">欢迎您来我院探望亲友！为了保证病人的休息和治疗，维护良好的医疗秩序，请您配合在规定的时间内探视病人。</dd>
                                            <dd class="info"><em>我院病房探视时间为：</em>
                                                <p>每周一至周六：下午 3：00 - 7：00</p>
                                                <p>周日：上午 9：00 - 12：00</p>
                                                <p>下午 3：00 - 7：00</p></dd>
                                        </dl>
                                        <div class="BottomHidden"></div>
                                        <dl>
                                            <dt>医院标题</dt>
                                            <dd class="pic"><img data-th-src="@{/hors/pic/pic_002.jpg}"
                                                                 src="../static/hors/pic/pic_002.jpg" width="126"
                                                                 height="77"></dd>
                                            <dd class="text"><p>座落于中华民族的发源地长沙 ，是历史悠久的西医医院。</p>
                                                <p>医院详细地址位于城区东郊 。</p></dd>
                                            <dd class="info"><em>急救电话 ：120 </em>
                                                <span>120</span></dd>
                                        </dl>
                                    </div>
                                    <div class="navSub3 nav_Route">
                                        <dl>
                                            <dt>乘车路线</dt>
                                            <dd><em>公交全部路线</em>
                                                <p>地址：湖南省长沙市岳麓区银盆岭街道银盆南路金荣科技园M1组团B座408房</p>
                                                <p>公交全部路线：26路快线;109路;117路;118路;308路;318路;355路;401路;407路;410路;417路;903路;913路 </p></dd>
                                            <p>地铁站路线：在4号线<span style="color: red">六沟垅站</span>下车</p>
                                        </dl>
                                        <a href="https://map.baidu.com/poi/%E6%B9%96%E5%8D%97%E8%99%B9%E7%8C%AB%E4%BF%A1%E6%81%AF%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@12575210.205,3256269.74,19z?uid=95ec9d88422fdbe8e5e96572&ugc_type=3&ugc_ver=1&device_ratio=2&compat=1&querytype=detailConInfo&da_src=shareurl" target="_blank">电子地图</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="PMenu current"><img data-th-src="@{/hors/images/ico_014.png}" src="../static/hors/images/ico_014.png"
                                           class="animated" width="15" height="8"/><a data-th-href="@{/depart/jianjie}" href="Article-3.html" id="Nav_AMenu1"
                                                                                      class="PAMenu" title="医院概况">医院概况</a>
                        <div class="navboxBase">
                            <div class="navboxBg">
                                <div class="navbox BaseMark">
                                    <div class="navMenus">
                                        <ul>
                                            <li class="first"><a data-th-href="@{/depart/jianjie}" href="Article-3.html" title="医院简介">医院简介<span>进入</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="navSub5">
                                        <img data-th-src="@{/hors/images/pic_001.jpg}"
                                             src="../static/hors/images/pic_001.jpg" width="299" height="97"/>
                                        <p class="first">人民医院服务人民，百年省医健康福音。</p>
                                        <p><br/></p>
                                        <p>
                                            黄河之畔，绿城太原，坐落着一座拥有一百一十多年历史的神圣生命殿堂——医院标题。省医前身是中华基督教内地会1904年创办的开封“福音医院”，1950年更名为“医院标题”，1955年随省政府迁址太原，2010年增名“人民医院”，2012年被确定为“部省共建”医院。</p>
                                        <a data-th-href="@{/depart/jianjie}" href="Article-3.html" class="Amore">了解详情</a>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="PMenu">
                        <a data-th-href="@{/news/all}" href="news.html"
                           id="Nav_AMenu5"
                           class="PAMenu"
                           title="新闻动态">新闻动态</a>
                        <div class="navboxBase">
                            <div class="navboxBg">
                                <div class="navbox BaseMark">

                                    <div class="navMenus">
                                        <ul>
                                            <li class="first"><a data-th-href="@{/news/all}" href="news.html" title="省医快讯">省医快讯<span>进入</span></a></li>

                                            <li><a data-th-href="@{/news/notice}" href="news.html" title="最新公告">最新公告<span>进入</span></a></li>

                                        </ul>
                                    </div>
                                    <div class="navSub2 nav_Menu02 noPic NewsSub">
                                        <dl class="Img02">
                                            <dt class="title01">最新公告</dt>
                                            <dd class="pic"><img alt="最新公告" data-th-src="@{/hors/pic/pic_002.jpg}"
                                                                 src="../static/hors/pic/pic_002.jpg" width="126"
                                                                 height="77"/></dd>
                                            <dd class="Lurl">
                                                <em>2016-12-02</em><a href='NewsDetail-8403.html'
                                                                      title='阜外华中心血管病医院 内设机构部门负责人竞选安排'>阜外华中心血管病医院
                                                内设机构部门负责人竞选安排</a></dd>
                                            <dd class="url"><span>2016-10-21</span><a href="NewsDetail-8249.html"
                                                                                      title="山西省立眼科医院（山西省眼科研究所）基础研究部门正、副科级干部竞聘实施方案（面向国内外）">山西省立眼科医院（山西省眼科研究所）基础研究部门正、副科级干部竞聘实施方案（面向国内外）</a>
                                            </dd>
                                            <dd class="url"><span>2016-10-21</span><a href="NewsDetail-8248.html"
                                                                                      title="山西省立眼科医院（山西省眼科研究所）临床部门干部竞聘实施方案（面向国内外）">山西省立眼科医院（山西省眼科研究所）临床部门干部竞聘实施方案（面向国内外）</a>
                                            </dd>
                                            <dd class="url"><span>2015-10-13</span><a href="NewsDetail-7246.html"
                                                                                      title="医院标题公开招聘超声医师的公告">医院标题公开招聘超声医师的公告</a>
                                            </dd>
                                        </dl>
                                        <div class="BottomHidden"></div>
                                        <dl>
                                            <dt class="title01">省医快讯</dt>
                                            <dd class="url" data-th-each="sigle:${news}" data-th-object="${sigle}"><span data-th-text="*{#dates.format(newsDate,'yyyy-MM-dd HH:mm:ss')}">2016-12-29</span><a data-th-href="@{/news/scanCount(newId=*{newId})}" href="newslist.html"
                                                                                                                                                                                                             data-th-title="*{title}">互联智慧疼痛医联体全面启动</a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="navSub4 nav_Menu02 noPic">
                                        <dl>
                                            <dt class="title02">新业务新技术</dt>
                                            <dd class="url"><span>2016-12-13</span><a href="NewsDetail-8482.html"
                                                                                      title="我院成功实施首例ECMO院间转运">我院成功实施首例ECMO院间转运</a>
                                            </dd>
                                            <dd class="url"><span>2016-12-13</span><a href="NewsDetail-8481.html"
                                                                                      title="介入科经桡动脉治疗93岁高龄颈动脉狭窄患者">介入科经桡动脉治疗93岁高龄颈动脉狭窄患者</a>
                                            </dd>
                                            <dd class="url"><span>2016-11-30</span><a href="NewsDetail-8393.html"
                                                                                      title="介入科实施全国首例经静脉途径高危脑动静脉畸形栓塞术">介入科实施全国首例经静脉途径高危脑动静脉畸形栓塞术</a>
                                            </dd>
                                        </dl>
                                        <div class="BottomHidden"></div>
                                        <dl>
                                            <dt class="title02">服务动态</dt>
                                            <dd class="url"><span>2016-09-07</span><a href="NewsDetail-8113.html"
                                                                                      title="PICU完成全省首例超低体重儿食管狭窄球囊扩张术">PICU完成全省首例超低体重儿食管狭窄球囊扩张术</a>
                                            </dd>
                                            <dd class="url"><span>2016-09-06</span><a href="NewsDetail-8094.html"
                                                                                      title="全省首例单纯超声引导下 肺动脉瓣狭窄球囊扩张术成功救治8岁患儿">全省首例单纯超声引导下
                                                肺动脉瓣狭窄球囊扩张术成功救治8岁患儿</a></dd>
                                            <dd class="url"><span>2016-09-06</span><a href="NewsDetail-8093.html"
                                                                                      title="心电生理中心完成我院首例 心腔内超声指导下三维射频消融术">心电生理中心完成我院首例
                                                心腔内超声指导下三维射频消融术</a></dd>
                                        </dl>
                                        <div class="BottomHidden"></div>
                                        <dl>
                                            <dt class="title02">媒体看省医</dt>
                                            <dd class="url"><span>2016-11-09</span><a href="NewsDetail-8345.html"
                                                                                      title="好消息！医院标题将免费救助百名先心病患儿">好消息！医院标题将免费救助百名先心病患儿</a>
                                            </dd>
                                            <dd class="url"><span>2016-09-26</span><a href="NewsDetail-8173.html"
                                                                                      title="驻村就是驻心:第一书记打通驻马店村民奔小康的路">驻村就是驻心:第一书记打通驻马店村民奔小康的路</a>
                                            </dd>
                                            <dd class="url"><span>2016-09-26</span><a href="NewsDetail-8172.html"
                                                                                      title="《山西日报》百年省医孕育诞生山西省首家生殖专科医院 在尊重、关怀和爱中迎接一个个新的生命">《山西日报》百年省医孕育诞生山西省首家生殖专科医院
                                                在尊重、关怀和爱中迎接一个个新的生命</a></dd>
                                        </dl>
                                    </div>
                                    <div class="clear"></div>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="BaseMark">
        <div class="bread">您所在的位置<span><a href="index.html">首页</a>><a data-th-href="@{/depart/jianjie}" href="Article-3.html">医院概况</a>>医院简介</span></div>
        <div class="baseLeft">
            <div class="title title05_2">医院概况</div>
            <div class="newsMenu">
                <ul>
                    <li class="first active"><a data-th-href="@{/depart/jianjie}" href="Article-3.html" title="医院简介"><em>医院简介</em></a></li>
                </ul>
            </div>
            <div class="tools"><a href="http://www.o2omed.com.cn/" target="_blank"><img data-th-src="@{/hors/images/ico_001.gif}" src="../static/hors/images/ico_001.gif"
                        width="52" height="52"><em>互联智慧分诊平台</em></a><a style="margin-right:0;" href="96195.html"><img
                        data-th-src="@{/hors/images/ico_002.gif}" src="../static/hors/images/ico_002.gif" width="52" height="52"><em><span>96195</span>综合平台</em></a><a
                    href="Hospital.html"><img data-th-src="@{/hors/images/ico_003.gif}" src="../static/hors/images/ico_003.gif" width="52" height="52"><em>名医馆</em></a><a
                    style="margin-right:0;" href="CheckupsInfo.html" class="last"><img data-th-src="@{/hors/images/ico_004.gif}" src="../static/hors/images/ico_004.gif"
                        width="52" height="52"><em>信息查询</em></a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="baseRight">
            <div class="title01">医院简介</div>
            <div id="DIVContent" class="article intro">
                <p align="left"><strong><span style="font-size:24px;">医院简介</span></strong><strong><span
                            style="color:#34ceb4;font-size:24px;">About us</span></strong></p>
                <p align="left"><span style="font-size:14px;"></span>&nbsp;<b>&nbsp;</b>&nbsp; &nbsp;</p>
                <p align="left" style="text-indent:0px;"><span>
                        <p>&nbsp;拥有116年历史的河南省人民医院——政府举办的公立医疗机构，根植中原大地，秉承“仁爱、博学、严谨、卓越”医院精神，服务保障人民群众健康，担当人民医院社会责任。在深化现代公立医院改革的进程中,铸造了“人民医院服务人民、百年省医健康福音”值得信赖的品牌形象。
                        </p>
                        <p>&nbsp;&nbsp; &nbsp;
                            &nbsp;<strong>——</strong><strong>历史文化悠久。</strong>医院前身是中华基督教内地会1904年创办的开封“福音医院”，1950年更名为“河南省人民医院”，1955年随省政府迁址郑州，1993年获批全国首批“三级甲等医院”，2010年增名“郑州大学人民医院”，2012年被确定为“部省共建”医院，2016年与河南大学合作共建河南大学医学院，2017年一次跨越55个位次，跻身中国最佳医院排行榜100强，2019年纳入郑州大学直属附属医院体系。
                        </p>
                        <p>&nbsp;&nbsp; &nbsp;
                            &nbsp;<strong>——</strong><strong>学科实力突出。</strong>拥有国家临床重点专科建设项目11个，且全部通过国家卫健委临床重点专科总结评估；有河南省医学重点学科（含培育）24个，国家疑难病症诊治能力提升工程项目单位1个，河南省医疗服务能力提升工程建设项目14个，省级医学中心4个。
                        </p>
                        <p>&nbsp;&nbsp; &nbsp;
                            &nbsp;<strong>——</strong><strong>科研平台一流。</strong>有国家卫健委重点实验室2个，省级重点实验室6个，省工程技术中心3个，省发改委工程研究中心12个，省国际联合实验室9个，市厅级实验室23个，院士工作站10个。
                        </p>
                        <p>&nbsp;&nbsp; &nbsp; &nbsp;<strong>——</strong><strong>人才梯队完整。</strong>拥有高级职称专家1035人，博士、硕士
                            <span>2631</span>人；有特聘院士 10 人，中原千人计划专家
                            11人，享受国务院政府特殊津贴专家36人，首批河南省高层次人才12人；省医学会副主委以上86人，省医师协会常委以上29人，中国医师协会常委以上54人，中华医学会常委以上32人。</p>
                        <p>&nbsp;&nbsp; &nbsp; &nbsp;<strong>——</strong><strong>业务技术领先。</strong>成功实施全省首例心脏移植手术，
                            华中地区首例“人工心脏”植入术；成功开展全省首例肺移植手术，全省首例镜面人双肺移植，手术量全国第四；成功实施“ALPPS”手术切除巨大肝癌，处于国际国内领先水平；成功实施全国首例颅内复杂脑动脉瘤的Pipeline血流导向治疗技术，手术直播首秀国际舞台；成功完成大陆地区首例帕金森震颤“磁波刀”治疗；介入脑血管科24小时全天候双DSA随时抢救2个以上急诊脑卒中患者；国内首个一站式多模态影像卒中救治平台正式启动，首次将“DPT”（远着入院到介入治疗时间）缩短至15分钟，达到国际一流水平。
                        </p>
                        <p>&nbsp;&nbsp; &nbsp;
                            &nbsp;近年来，医院围绕“人才、学科、互联智慧健康服务”工作主线，坚持“多区多院规模适度、重点学科特色突出、内涵发展文化引领、互联智慧健康服务”发展战略，全力构建以多区多院为实体、以互联智慧健康服务为全域功能的医疗健康服务生态系统。在学科实力、科技创新、服务形象、品牌声誉等多个方面都迈上新的高度，实现了新突破。多区多院发展格局基本形成。阜外华中心血管病医院历经5年推动、2年9个月的辛勤筹建，顺利开诊投用,2019年更名“华中阜外医院”，纳入郑州大学附属医院体系；河南省人民医院豫东南分院挂牌运营；河南省人民医院平原医院奠基开工；省直一院、二院一体化整体融合发展迈出实质性步伐；河南省立眼科医院、生殖医院、脑血管病医院、中医院发展态势良好；河南省国际医疗中心品牌影响力不断提升；公共卫生医学中心、互联智慧药房、中医院、健康体检中心二部相继建成投用，河南省急救中心全新升级；互联智慧健康服务院正式启动上线；临床医学研究中心资源共享，开放共用，科研能力持续提升。运营管理更加高效。打破传统管理架构，整合管理资源，实行大部制、扁平化管理，省内率先成立运营管理部、患者体验服务部等，管理效能充分释放。站位学科前沿，调整学科结构，推动学科专业细化，学科实力明显增强；移动卒中车、“慧思考”、Mazor，全省首台第四代达芬奇机器人、全省首台PET-MR、全国首家磁共振引导聚焦超声帕金森震颤治疗中心、国内首个一站式多模态影响卒中救治平台相继落户投用；先后通过电子病历系统功能应用分级评价五级医院、HIMSS（住院）六级测评、互联互通成熟度测评五级乙等。落实医改硕果盈枝。互联智慧健康服务体系更加健全，形成特色品牌，受到国务院医改办的高度肯定；常态化、全覆盖开展航空医疗救援服务，率先建立空地互联网三位一体紧急救援体系，受到央视新闻联播关注报道；推行预住院、日间医疗、惠民医疗服务等一系列控费用、惠民生的医改举措，广受社会赞誉；构建以“尊重、慈爱、关怀、共情”为核心价值的改善患者体验服务体系，“我是省医人，我愿为您服务”深入人心，融入行动。以“七个省医”建设为抓手，注重文化传承，孕育发展文脉，塑造文化品牌；抓文明创建、促共建共享，软实力成为硬品牌。
                        </p>
                        <p>&nbsp;&nbsp; &nbsp;
                            &nbsp;四届蝉联“全国文明单位”，河南省卫生系统唯一；三次蝉联国家卫生健康委改善医疗服务行动示范医院等4项大奖；“医疗健康服系统模型构建”等4个项目荣获亚洲医院管理奖；河南省公立医院绩效考核排名第一；被评为中国医疗机构最佳雇主医院、人文爱心医院、中国最佳医院管理团队众星成城奖等；中国公立医院品牌传播百强榜全国第三，全国医院后勤管理创新示范单位，河南具有国内品牌影响力示范医院；在国家组织的患者满意度调查中，医务人员回应性满意度98%，全国排名第一；再次跃升9个位次，位列中国百强医院排行榜第88位，科研学术排名第56位，提升41位，自然指数排名第77位，全国省人民医院序列中排名第一。为引领全省卫生健康事业发展、服务健康中原大局做出了突出贡献。
                        </p>
                    </span></p>
                <p><br /></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </section>
    <div class="BottomHidden"></div>
    <div id="QRBase">
        <div class="BaseMark">
            <div class="QRBase">
                <div class="QRList">
                    <ul>
                        <li>
                            <div><img class="load" data-original="../static/hors/pic/pic_QR01.jpg" width="75"
                                    height="75" /><label>河南省人民医院APP</label></div>
                        </li>
                        <li>
                            <div><img class="load" data-original="../static/hors/pic/pic_QR02.jpg" width="75"
                                    height="75" /><label>健康之路APP</label></div>
                        </li>
                        <li>
                            <div><img class="load" data-original="../static/hors/pic/pic_QR03.jpg" width="75"
                                    height="75" /><label>挂号网APP</label></div>
                        </li>
                        <li>
                            <div><img class="load" data-original="../static/hors/pic/pic_QR04.jpg" width="75"
                                    height="75" /><label>河南省预约挂号平台Androi客户端</label></div>
                        </li>
                        <li>
                            <div><img class="load" data-original="../static/hors/pic/pic_QR05.jpg" width="75"
                                    height="75" /><label>河南省预约挂号平台IOS客户端</label></div>
                        </li>
                        <li>
                            <div><img class="load" data-original="../static/hors/pic/pic_QR06.jpg" width="75"
                                    height="75" /><label>河南预约挂号平台微信号</label></div>
                        </li>
                        <li>
                            <div><img class="load" data-original="../static/hors/pic/pic_QR07.jpg" width="75"
                                    height="75" /><label>健康之路微信公众号</label></div>
                        </li>
                        <li>
                            <div><img class="load" data-original="../static/hors/pic/pic_QR08.jpg" width="75"
                                    height="75" /><label>名医网微信公众号</label></div>
                        </li>
                        <li>
                            <div><img class="load" data-original="../static/hors/pic/pic_QR09.jpg" width="75"
                                    height="75" /><label>挂号网微信公众号</label></div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div><button class="QRClose animated">关闭</button>
                <div class="BottomHidden"></div>
            </div>
        </div>
    </div>
    <footer><img class="load" data-original="../static/hors/images/ico_036.png" width="35" height="18" id="QRMark" />
        <div class="menusBase">
            <div class="BaseMark">
                <dl>
                    <dt><img class="load" data-original="../static/hors/images/ico_006.jpg" width="36"
                            height="34" /><em>门诊服务</em><span>outpatient services</span></dt>
                    <dd><a href="NewsDetail-449.html" title="预约流程" target="_blank">预约流程</a></dd>
                    <dd><a href="NewsDetail-448.html" title="门诊须知" target="_blank">门诊须知</a></dd>
                    <dd><a href="Article-57.html" title="院内导航" target="_blank">院内导航</a></dd>
                </dl>
                <dl>
                    <dt><img class="load" data-original="../static/hors/images/ico_008.jpg" width="36"
                            height="34" /><em>住院服务</em><span>hospitalized services</span></dt>
                    <dd><a href="Article-56.html" title="住院须知" target="_blank">住院须知</a></dd>
                    <dd><a href="NewsDetail-461.html" title="检查须知" target="_blank">检查须知</a></dd>
                    <dd><a href="Article-56.html" title="住院清单" target="_blank">住院清单</a></dd>
                </dl>
                <dl>
                    <dt><img class="load" data-original="../static/hors/images/ico_009.jpg" width="36"
                            height="34" /><em>体检服务</em><span>examination services</span></dt>
                    <dd><a href="NewsDetail-461.html" title="体检须知" target="_blank">体检须知</a></dd>
                    <dd><a href="NewsDetail-7684.html" title="体检套餐查询" target="_blank">体检套餐查询</a></dd>
                    <dd><a href="CheckupsInfo.html" title="体检报告查询" target="_blank">体检报告查询</a></dd>
                </dl>
                <div class="QRBtn"><img class="load" data-original="../static/hors/images/tempQR.jpg" width="85"
                        height="85" /><span>扫描关注官方微信号</span><a href="javascript:void(0)" id="BtnQRMore">更多二维码</a></div>
                <div class="newsPaper">
                    <div class="npTitle"><img class="load" data-original="../static/hors/images/ico_010.jpg" width="28"
                            height="39" /><em>省医院报</em><span>内部资料 仅供阅读</span></div>
                    <div class="DChange"><select class="DYear" id="ddlYears">
                            <option value="0">年份</option>
                            <option value="2020">2020年</option>
                            <option value="2019">2019年</option>
                            <option value="2018">2018年</option>
                            <option value="2017">2017年</option>
                            <option value="2016">2016年</option>
                            <option value="2015">2015年</option>
                            <option value="2014">2014年</option>
                            <option value="2012">2012年</option>
                        </select><select class="DTime" id="ddlTimes">
                            <option value="0">期数</option>
                        </select></div><input class="newsPaperBtn animated" name="btnGoNewsPaper" id="btnGoNewsPaper"
                        value="阅览" type="button" />
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="BottomHidden"></div>
        <div class="DWeibo"><a href="javascript:;" class="weibo" title="新浪微博">新浪官方微博</a><a href="javascript:;"
                class="tencent" title="腾讯微博">腾讯官方微博</a>
            <div class="clear"></div>
        </div>
        <div class="websiteInfo">
            <div class="info">主办单位：河南省人民医院 <br />综合服务平台:96195 &nbsp; 传真:0371-65964376 &nbsp; 地 址:河南省郑州市纬五路7号&nbsp;
                版权所有:河南省人民医院&nbsp; </div>
            <ul>
                <li class="first"><a href="Article-3.html" target="_blank">关于我们</a></li>
                <li><a href="Declaration.html" target="_blank">法律声明</a></li>
                <li><a href="SiteMap.html" target="_blank">网站地图</a></li>
                <li><a href="Article-57.html" target="_blank">联系我们</a></li>
                <li><a href="Complain.html" target="_blank">院长(信访)信箱</a></li>
            </ul>
            <div class="clear"></div>
            <p>&copy;2015-
                <script type="text/javascript">document.write(new Date().getFullYear());</script>. All Rights Reserved.
                <a href="http://www.beian.miit.gov.cn" target="_blank">豫ICP备11033726号-1</a>&nbsp;豫卫网审[2011]第116号 &nbsp;
                <a href="https://www.miraclevision.net/" target="_blank" title="郑州高端网站建设">技术支持 / <span>铭成奇迹</span></a>
            </p><select id="ddlLinks">
                <option value="0"><span>友情链接</span>HYPERLINK</option>
                <option value="http://www.moh.gov.cn/">中华人民共和国国家卫生健康委员会</option>
                <option value="http://www.nhfpc.gov.cn/">中华人民共和国卫生和计划生育委员会</option>
                <option value="http://www.hnwst.gov.cn/">河南省卫生和计划生育委员会</option>
                <option value="http://www.fwhzxxgbyy.com">阜外华中心血管病医院</option>
                <option value="http://edu.zgkw.cn/">全国百姓放心示范医院大讲堂</option>
                <option value="http://www.topmd.cn/">名医网</option>
                <option value="http://www.haodf.com/">好大夫在线</option>
                <option value="http://www.eyehospitalhn.com/">河南省立眼科医院</option>
            </select>
        </div>
    </footer>
    <div id="Footer_CodeDiv"></div>
    <script type="text/javascript" data-th-src="@{/hors/js/Kunyi.Common.js}" src="../static/hors/js/Kunyi.Common.js"></script>
    <script type="text/javascript" data-th-src="@{/hors/js/Kunyi.Secondary.js}" src="../static/hors/js/Kunyi.Secondary.js"></script>
</body>

</html>