<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>科室导航 - 就诊指南 - 医院标题</title>
    <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药"/>
    <meta name="Description"
          content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。"/>
    <meta name="robots" content="All"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm"/>
    </noscript>
    <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0; url=/YouLose.htm"/><![endif]-->

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" data-th-href="@{/hors/css/normalize.css}" href="../static/hors/css/normalize.css"
          type="text/css"/>
    <link rel="stylesheet" data-th-href="@{/hors/css/secondary.css}" href="../static/hors/css/secondary.css"
          type="text/css"/>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Respond.min.js}"
            src="../static/hors/js/Kunyi.Respond.min.js"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/KunyiHTML5.min.js}"
            src="../static/hors/js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyilibrary.js}"
            src="../static/hors/js/Kunyilibrary.js"></script>
</head>
<body>
<div class="part">
    <div class="part01" id="Department1" >
        <div class="partTitle">
            <div class="left" >子科室</div>
        </div>
        <ul data-th-each="department:${departs}" data-th-object="${department}">
            <li>
                <span  data-th-text="*{parent.departName}">部内科临床医学</span>
                <span class='import1'></span>
                <h3 data-th-text="*{departName}">呼吸内科</h3>
                <p data-th-text="*{introduce}">我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点……</p>
                <div>
                    <a class="coffee" data-th-href="@{/depart/keshimx(departId=*{departId})}" href="keshiys.html" data-th-title="*{departName}">查看详细</a>
                    <a class='green' data-th-href="@{/depart/keshiys(departId=*{departId})}" href='keshiys.html' data-th-title='科室医生'>科室医生</a>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>