<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>呼吸内科 - 科室导航 - 就诊指南 - 医院标题</title>
    <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药"/>
    <meta name="Description"
          content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。"/>
    <meta name="robots" content="All"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm"/>
    </noscript>
    <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0; url=/YouLose.htm"/><![endif]-->

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" data-th-href="@{/hors/css/normalize.css}" href="../static/hors/css/normalize.css"
          type="text/css"/>
    <link rel="stylesheet" data-th-href="@{/hors/css/secondary.css}" href="../static/hors/css/secondary.css"
          type="text/css"/>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Respond.min.js}"
            src="../static/hors/js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/KunyiHTML5.min.js}"
            src="../static/hors/js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyilibrary.js}"
            src="../static/hors/js/Kunyilibrary.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Init.js}"
        src="../static/hors/js/Kunyi.Init.js"></script>
    <div class="BaseMark logoBase">
        <a data-th-href="@{/}" href="Index.html">
        <img data-th-src="@{/hors/images/logo.jpg}"
             src="../static/hors/images/logo.jpg" class="load"
               width="227" height="47"/></a>
    </div>
<section class="BaseMark PartBanner">
    <div class="introLeft">
        <div class="lefttitle">科室栏目<span>Column sections</span></div>
        <ul>
            <li><a data-th-href="@{/depart/keshimx(departId=${keshi.departId})}" href="keshimx.html">科室简介</a></li>
            <li id="LIExpertInfo1"><a data-th-href="@{/depart/keshiys(departId=${keshi.departId})}" href="keshiys.html">专家介绍</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="bannerLeft">
        <img data-th-src="@{/hors/pic/201607271939462.JPG}" src='../static/hors/pic/201607271939462.JPG'
             alt='呼吸内科'/><span class='import1'></span>
    </div>
    <div class="bannerRight">
        <div class="righttitle">
            <h1 data-th-text="${keshi.departName}">呼吸内科</h1>
            <div><p style="font-size: 24px" data-th-text="本科室电话:">本科室电话:</p>
                <p style="font-size: 24px" data-th-text="${keshi.phone}">18899996666</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="rightbtn"><a data-th-href="@{/depart/chuzhen}" href="javascript:;" id="AOnDuty" class="green">出诊安排</a>
            <a class="blue" data-th-href="@{/depart/keshi/-1}" href="keshi.html">返回科室导航</a>
        </div>
        <div class="righttel">
            <h2 id="H2Tel"></h2>
            <h3 data-th-text="'本科室电话:'+${keshi.phone}">本科室电话:0738-9999999</h3>
        </div>
    </div>
    <div class="clear"></div>
</section>

<section class="BaseMark PartIntro">
    <div class="introLeft">
        <div class="lefttitle">科室栏目<span>Column sections</span></div>
        <ul>
            <li><a data-th-href="@{/depart/keshimx(departId=${keshi.departId})}" href="keshimx.html">科室简介</a></li>
            <li id="LIExpertInfo2"><a data-th-href="@{/depart/keshiys(departId=${keshi.departId})}" href="keshiys.html">专家介绍</a></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="introRight">
        <div class="left"><img data-th-src="@{/hors/images/ksjj-1.gif}" src="../static/hors/images/ksjj-1.gif"
                               width="72" height="105"/>
            <h3>科室简介</h3><h4>INTRODUCTION</h4></div>
        <div class="right">
            <h1 id="H1Type">国家临床重点专科</h1>
            <p id="PDescription" data-th-text="${keshi.introduce}" style="
            overflow:hidden;
            text-overflow:ellipsis;
            display:-webkit-box;
            -webkit-line-clamp:3;
            -webkit-box-orient:vertical;">
                我科始建于上世纪70年代初，目前为卫生部国家重点专科建设项目单位，山西省重点学科、“山西省呼吸内科医疗质量控制中心”、“山西省呼吸疾病诊疗中心”、“山西省睡眠呼吸障碍诊疗中心”、山西省睡眠呼吸疾病网路中心、“卫生部内镜诊疗技术培训基地”依托单位。成为全省呼吸与危重症医学科的龙头科室。目前开放床位218张，RICU床位31张。拥有独立的山西省睡眠呼吸障碍诊疗中心、呼吸内镜中心，是山西省睡眠技师、无创...</p>
            <div class="rightbottom">
                <a data-th-href="@{/depart/ksjianjie(departId=${keshi.departId})}" href="keshijj.html" class="more">MORE</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>

<section id="AreaDoctors" class="BaseMark doctorsBase partDoctor">
    <div class="toolsPart">
        <div class="title">专家介绍<span>Expert Introduction</span></div>
        <div class="tools">
            <a data-th-href="@{/depart/keshiys(departId=${keshi.departId})}" href="keshiys.html" class="Bmore">MORE 》》</a>
            <a href="javascript:;" class="Aprev"></a>
            <a href="javascript:;" class="Anext"></a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="contents">
        <ul data-num="0" >
            <li data-th-each="ys:${keshi.doctors}" data-th-object="${ys}"><a href="ys.html" class="img"><img data-th-src="*{picture}"
                                                   src="../static/hors/pic/2013102215395834.jpg" alt="医生" title="医生"
                                                   width="120" height="162"/></a>
                <a href="ys.html" class="name" data-th-text="*{name}">医生</a>
                <a data-th-href="@{/depart/keshimx}" href="ys.html" class="office" data-th-text="*{department.departName}">呼吸内科</a>
                <a data-th-href="@{/doctor/timeline(doctorId=*{doctorId})}" href="ys.html" class="post" data-th-text="*{position}">主任医师，科主任</a>
                <a data-th-href="@{/doctor/timeline(doctorId=*{doctorId})}" href="ys.html" class="btn more">详细</a>
                <a data-th-href="@{/doctor/timeline(doctorId=*{doctorId})}" href="ys.html" target="_blank" class="btn date">预约</a></li>
        </ul>
        <div class="hackR"></div>
        <div class="hackL"></div>
    </div>
</section>

<section id="AreaDuty" class="BaseMark visitDate">
    <div class="title">出诊安排<em>Visits Time</em><span></span></div>
    <div class="visitList">
        <div class="title">
            <div class="wide">星期四 <em>2017/1/12</em><span class="green">上午</span><span class="blue">下午</span></div>
            <div class="wide">星期五 <em>2017/1/13</em><span class="green">上午</span><span class="blue">下午</span></div>
            <div>星期六 <em>2017/1/14</em><span class="green">上午</span><span class="blue">下午</span></div>
            <div>星期日 <em>2017/1/15</em><span class="green">上午</span><span class="blue">下午</span></div>
            <div>星期一 <em>2017/1/16</em><span class="green">上午</span><span class="blue">下午</span></div>
            <div>星期二 <em>2017/1/17</em><span class="green">上午</span><span class="blue">下午</span></div>
            <div>星期三 <em>2017/1/18</em><span class="green">上午</span><span class="blue">下午</span></div>
        </div>

        <div class="namelist">
            <div class="list01"><a target="_blank" href="ys.html">医生</a><a target="_blank"
                                                                           href="Doctor-113.html">冯可青</a><a
                    target="_blank" href="Doctor-119.html">张晓菊</a><a target="_blank" href="Doctor-716.html">刘红梅</a><a
                    target="_blank" href="Doctor-126.html">潘金兵</a><a target="_blank" href="Doctor-122.html">丁娟娟</a>
            </div>

            <div class="list01"><a target="_blank" href="ys.html">医生</a><a target="_blank"
                                                                           href="Doctor-137.html">李玉光</a><a
                    target="_blank" href="Doctor-115.html">唐学义</a><a target="_blank" href="Doctor-716.html">刘红梅</a><a
                    target="_blank" href="Doctor-126.html">潘金兵</a><a target="_blank" href="Doctor-122.html">丁娟娟</a>
            </div>

            <div class="list01"><a target="_blank" href="Doctor-134.html">吴纪珍</a><a target="_blank"
                                                                                    href="Doctor-141.html">赵丽敏</a><a
                    target="_blank" href="Doctor-130.html">张罗献</a><a target="_blank" href="Doctor-117.html">钱皓瑜</a><a
                    target="_blank" href="Doctor-118.html">李英</a><a target="_blank" href="Doctor-116.html">郑素歌</a></div>

            <div class="list01"><a target="_blank" href="Doctor-130.html">张罗献</a><a target="_blank"
                                                                                    href="Doctor-117.html">钱皓瑜</a><a
                    target="_blank" href="Doctor-143.html">齐咏</a><a target="_blank" href="Doctor-118.html">李英</a><a
                    target="_blank" href="Doctor-116.html">郑素歌</a><a target="_blank" href="Doctor-126.html">潘金兵</a>
            </div>

            <div class="list01"></div>

            <div class="list01"></div>

            <div class="list01"></div>

            <div class="list01"></div>

            <div class="list01"><a target="_blank" href="Doctor-141.html">赵丽敏</a><a target="_blank"
                                                                                    href="Doctor-130.html">张罗献</a><a
                    target="_blank" href="Doctor-137.html">李玉光</a><a target="_blank" href="Doctor-140.html">陈献亮</a><a
                    target="_blank" href="Doctor-117.html">钱皓瑜</a><a target="_blank" href="Doctor-119.html">张晓菊</a><a
                    target="_blank" href="Doctor-115.html">唐学义</a><a target="_blank" href="Doctor-1114.html">李晓亮</a>
            </div>

            <div class="list01"><a target="_blank" href="Doctor-141.html">赵丽敏</a><a target="_blank"
                                                                                    href="Doctor-130.html">张罗献</a><a
                    target="_blank" href="Doctor-137.html">李玉光</a><a target="_blank" href="Doctor-140.html">陈献亮</a><a
                    target="_blank" href="Doctor-112.html">时军</a><a target="_blank" href="Doctor-119.html">张晓菊</a><a
                    target="_blank" href="Doctor-115.html">唐学义</a><a target="_blank" href="Doctor-1114.html">李晓亮</a>
            </div>

            <div class="list01"><a target="_blank" href="Doctor-714.html">马厚志</a><a target="_blank"
                                                                                    href="Doctor-111.html">陈卓昌</a><a
                    target="_blank" href="Doctor-113.html">冯可青</a><a target="_blank" href="Doctor-143.html">齐咏</a><a
                    target="_blank" href="Doctor-138.html">马芸</a><a target="_blank" href="Doctor-717.html">张晓宇</a><a
                    target="_blank" href="Doctor-121.html">程东军</a></div>

            <div class="list01"><a target="_blank" href="Doctor-714.html">马厚志</a><a target="_blank"
                                                                                    href="Doctor-111.html">陈卓昌</a><a
                    target="_blank" href="Doctor-113.html">冯可青</a><a target="_blank" href="Doctor-143.html">齐咏</a><a
                    target="_blank" href="Doctor-138.html">马芸</a><a target="_blank" href="Doctor-717.html">张晓宇</a><a
                    target="_blank" href="Doctor-121.html">程东军</a></div>

            <div class="list01"><a target="_blank" href="Doctor-134.html">吴纪珍</a><a target="_blank"
                                                                                    href="Doctor-111.html">陈卓昌</a><a
                    target="_blank" href="Doctor-131.html">王凯</a><a target="_blank" href="Doctor-112.html">时军</a><a
                    target="_blank" href="Doctor-893.html">况红艳</a><a target="_blank" href="Doctor-1128.html">汪铮</a>
            </div>

            <div class="list01"><a target="_blank" href="Doctor-134.html">吴纪珍</a><a target="_blank"
                                                                                    href="Doctor-131.html">王凯</a><a
                    target="_blank" href="Doctor-112.html">时军</a><a target="_blank" href="Doctor-118.html">李英</a><a
                    target="_blank" href="Doctor-1128.html">汪铮</a><a target="_blank" href="Doctor-893.html">况红艳</a>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</section>
<div class="BottomHidden"></div>
<div id="QRBase">
    <div class="BaseMark">
        <div class="QRBase">
            <div class="QRList">
                <ul>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR01.jpg}" src="../static/hors/pic/pic_QR01.jpg"
                                  width="75" height="75"/><label>医院标题APP</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR02.jpg}" src="../static/hors/pic/pic_QR02.jpg"
                                  width="75" height="75"/><label>健康之路APP</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR03.jpg}" src="../static/hors/pic/pic_QR03.jpg"
                                  width="75" height="75"/><label>挂号网APP</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR04.jpg}" src="../static/hors/pic/pic_QR04.jpg"
                                  width="75" height="75"/><label>山西省预约挂号平台Androi客户端</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR05.jpg}" src="../static/hors/pic/pic_QR05.jpg"
                                  width="75" height="75"/><label>山西省预约挂号平台IOS客户端</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR06.jpg}" src="../static/hors/pic/pic_QR06.jpg"
                                  width="75" height="75"/><label>山西预约挂号平台微信号</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR07.jpg}" src="../static/hors/pic/pic_QR07.jpg"
                                  width="75" height="75"/><label>健康之路微信公众号</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR08.jpg}" src="../static/hors/pic/pic_QR08.jpg"
                                  width="75" height="75"/><label>名医网微信公众号</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR09.jpg}" src="../static/hors/pic/pic_QR09.jpg"
                                  width="75" height="75"/><label>挂号网微信公众号</label></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <button class="QRClose animated">关闭</button>
            <div class="BottomHidden"></div>
        </div>
    </div>
</div>
<footer><img data-th-src="@{/hors/images/ico_036.png}" src="../static/hors/images/ico_036.png" width="35" class="load"
             height="18" id="QRMark"/>
    <div class="menusBase">
        <div class="BaseMark">
            <dl>
                <dt><img data-th-src="@{/hors/images/ico_006.jpg}" src="../static/hors/images/ico_006.jpg" class="load"
                         width="36" height="34"/><em>门诊服务</em><span>outpatient services</span></dt>
                <dd><a href="NewsDetail-449.html" title="预约流程" target="_blank">预约流程</a></dd>
                <dd><a href="NewsDetail-448.html" title="门诊须知" target="_blank">门诊须知</a></dd>
                <dd><a href="Article-57.html" title="院内导航" target="_blank">院内导航</a></dd>
            </dl>
            <dl>
                <dt><img data-th-src="@{/hors/images/ico_008.jpg}" src="../static/hors/images/ico_008.jpg" class="load"
                         width="36" height="34"/><em>住院服务</em><span>hospitalized services</span></dt>
                <dd><a href="Article-56.html" title="住院须知" target="_blank">住院须知</a></dd>
                <dd><a href="NewsDetail-461.html" title="检查须知" target="_blank">检查须知</a></dd>
                <dd><a href="Article-56.html" title="住院清单" target="_blank">住院清单</a></dd>
            </dl>
            <dl>
                <dt><img data-th-src="@{/hors/images/ico_009.jpg}" src="../static/hors/images/ico_009.jpg" class="load"
                         width="36" height="34"/><em>体检服务</em><span>examination services</span></dt>
                <dd><a href="NewsDetail-461.html" title="体检须知" target="_blank">体检须知</a></dd>
                <dd><a href="NewsDetail-7684.html" title="体检套餐查询" target="_blank">体检套餐查询</a></dd>
                <dd><a href="CheckupsInfo.html" title="体检报告查询" target="_blank">体检报告查询</a></dd>
            </dl>
            <div class="QRBtn"><img data-th-src="@{/hors/images/tempQR.jpg}" src="../static/hors/images/tempQR.jpg"
                                    class="load" width="85" height="85"/> <span>扫描关注官方微信号</span> <a
                    href="javascript:void(0)" id="BtnQRMore">更多二维码</a></div>

            <div class="newsPaper">
                <div class="npTitle"><img data-th-src="@{/hors/images/tempQR.jpg}"
                                          src="../static/hors/images/ico_010.jpg" class="load" width="28"
                                          height="39"/><em>省医院报</em><span>内部资料 仅供阅读</span></div>
                <div class="DChange"><select class="DYear" id="ddlYears">
                    <option value="0">年份</option>
                    <option value="2017">2017年</option>
                    <option value="2016">2016年</option>
                    <option value="2015">2015年</option>
                    <option value="2014">2014年</option>
                </select>
                    <select class="DTime" id="ddlTimes">
                        <option value="0">期数</option>
                    </select></div>
                <input class="newsPaperBtn animated" name="btnGoNewsPaper" id="btnGoNewsPaper" value="阅览"
                       type="button"/>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="BottomHidden"></div>
    <div class="DWeibo"><a href="javascript:;" class="weibo" title="新浪微博">新浪官方微博</a><a href="javascript:;"
                                                                                       class="tencent" title="腾讯微博">腾讯官方微博</a>
        <div class="clear"></div>
    </div>
    <div class="urlHidden"></div>
    <div class="websiteInfo">
        <div class="info">主办单位：医院标题 &nbsp; &nbsp;综合服务电话：120&nbsp;&nbsp; &nbsp;急救中心电话：120 &nbsp; 传真：120 &nbsp; 地 址：地址地址地址
            &nbsp;<br/> 版权所有：医院标题
        </div>
        <ul>
            <li class="first"><a href="jianjie.html" target="_blank">关于我们</a></li>
            <li><a href="Declaration.html" target="_blank">法律声明</a></li>
            <li><a href="SiteMap.html" target="_blank">网站地图</a></li>
            <li><a href="Article-57.html" target="_blank">联系我们</a></li>
            <li><a href="Complain.html" target="_blank">院长(信访)信箱</a></li>
        </ul>
        <div class="clear"></div>
        <p> &copy;2015-
            <script language="javascript" type="text/javascript">document.write(new Date().getFullYear());</script>
            . All Rights Reserved. <a href="http://www.kaicz.com" target="_blank">备案号0000001 </a></a></p>
        <select id="ddlLinks">
            <option value="0"><span>友情链接</span> HYPERLINK</option>
            <option value="http://www.chinapop.gov.cn/">中华人民共和国卫生和计划生育委员会</option>
        </select>
    </div>
</footer>
<div id="Footer_CodeDiv">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a1d36386e8734a5fd29acec9114818d' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fafd2ae44e23648da4e8a81a7b1349be4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Common.js}"
        src="../static/hors/js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Secondary.js}"
        src="../static/hors/js/Kunyi.Secondary.js"></script>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Office.js}"
        src="../static/hors/js/Kunyi.Office.js"></script>
</body>
</html>
