<!DOCTYPE HTML>
<html>
<head>
    <script charset="utf-8" data-th-src="@{/style/js/allmobilize.min.js}" id="allmobilize" src="../static/style/js/allmobilize.min.js"></script>
    <meta content="no-siteapp" http-equiv="Cache-Control" />
    <link media="handheld" rel="alternate"  />
    <!-- end 云适配 -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>登录</title>
    <meta content="23635710066417756375" property="qc:admins" />
    <meta content="QIQ6KC1oZ6" name="baidu-site-verification" />

    <!-- <div class="web_root"  style="display:none">h</div> -->
    <script type="text/javascript">
        var ctx = "h";
        console.log(1);
    </script>


    <link data-th-href="@{/style/css/style.css}" href="../static/style/css/style.css" rel="stylesheet" type="text/css"/>
    <script data-th-src="@{/style/js/jquery.1.10.1.min.js}" src="../static/style/js/jquery.1.10.1.min.js" type="text/javascript"></script>
    <script data-th-src="@{/style/js/jquery.lib.min.js}" src="../static/style/js/jquery.lib.min.js" type="text/javascript"></script>
    <script data-th-src="@{/style/js/core.min.js}" src="../static/style/js/core.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        var youdao_conv_id = 271546;
    </script>
    <script data-th-src="@{/style/js/conv.js}" src="../static/style/js/conv.js" type="text/javascript"></script>
</head>

<body id="login_bg">
<div class="login_wrapper">
    <input id="resubmitToken" type="hidden" value="" />
    <div class="login_box">
        <form action="/login" id="loginForm" method='post'>
            <input id="account" name="account" placeholder="请输入账号" tabindex="1" type="text" value="" />
            <input id="password" name="password" placeholder="请输入密码" tabindex="2" type="password" />
            <span class="error" id="beError" style="display:block;"></span>
            <label class="fl" for="remember"><input checked="checked" id="remember" name="autoLogin" type="checkbox" value="" /> 记住我</label>
            <a class="fr" href="reset.html" target="_blank">忘记密码？</a>
            <a data-th-href="@{/index}"><input id="submitLogin" type="submit"  value="登 &nbsp; &nbsp; 录" /></a>
            <input id="callback" name="callback" type="hidden" value=""/>
            <input id="authType" name="authType" type="hidden" value=""/>
            <input id="signature" name="signature" type="hidden" value=""/>
            <input id="timestamp" name="timestamp" type="hidden" value=""/>
        </form>
        <div class="login_right">
            <div>还没有帐号？</div>
            <a  class="registor_now"  data-th-href="@{/register}" >立即注册</a>
        </div>
    </div>
    <div class="login_box_btm"></div>
</div>
</body>
</html>