<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf,org">
<head>
    <meta charset="UTF-8">
    <title>预约时间段</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" data-th-href="@{/hors/css/normalize.css}" href="../static/hors/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" data-th-href="@{/hors/css/secondary.css}" href="../static/hors/css/secondary.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Respond.min.js}"
            src="../static/hors/js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/KunyiHTML5.min.js}"
            src="../static/hors/js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyilibrary.js}"
            src="../static/hors/js/Kunyilibrary.js"></script>
    <!--    导入layui-->
    <script src="../static/layui/layui.js" data-th-src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" data-th-href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
</head>
<body>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Init.js}"
        src="../static/hors/js/Kunyi.Init.js"></script>
<header>
    <div class="topHidden"></div>
    <div class="toolBase">
        <div class="BaseMark">
            <ul>
                <li class="first"><a href="SiteMap.html">站点地图</a></li>
                <li><a href="Complain.html">院长(信访)信箱</a></li>
                <li><a href="https://61.163.73.190/por/login_psw.csp" target="_blank">内部OA</a></li>
                <li><a href="news.html">人才招聘</a></li>
                <li><a href="Office-71.html">人事管理</a></li>
                <li><a href="History.html">网上院史馆</a></li>
                <li><a href="Message.html">在线留言</a></li>
                <li><a href="javascript:;" onClick="Kunyi.AddFavorite(window.location,document.title)">加入收藏</a></li>
            </ul>
            <div class="language">选择语言</div>
            <div class="langBtn animated"><i class="flag"></i>中文<i class="downBtn"></i>
                <a href="javasript:;"><img data-th-src="@{/hors/images/ico_003.png}"
                                           src="../static/hors/images/ico_003.png" class="animated" width="13"
                                           height="13"/>English</a>
            </div>
        </div>
    </div>
    <div class="BaseMark logoBase"><a data-th-href="@{/}" href="Index.html"><img data-th-src="@{/hors/images/logo.jpg}"
                                                                                 src="../static/hors/images/logo.jpg" class="load"
                                                                                 width="227" height="47"/></a>
        <div class="searchBase">
            <div class="itemBase">
                <div class="divType" data-state="0">全站内容</div>
                <ul>
                    <li data-id="1">全站内容</li>
                    <li data-id="2">医生查找</li>
                    <li data-id="3">新闻动态</li>
                </ul>
            </div>
            <form method="get" action="Search.html" onSubmit="return Kunyi.CheckSearchForm()">
                <input type="hidden" id="Type" name="Type" value="1"/>
                <input type="text" name="SearchWords" placeholder="请输入您要查找内容的关键字" value="" autocomplete="off"
                       onFocus="Kunyi.cls(event)" onBlur="Kunyi.res(event)" maxlength="28" id="SearchWords"/>
                <input type="submit" value="搜索" class="boxsub animated"/>
            </form>
        </div>
    </div>
</header>
<nav>
    <div class="navBase">
        <div class="quickMenuBase" data-type="0">
            <div class="quickMenu03" ><img data-th-src="@{/hors/images/ico_013.png}"
                                           src="../static/hors/images/ico_013.png" width="16" height="16" /> <em data-th-text="快捷菜单">快捷菜单</em>
            </div>
            <div class="quickMenus">
                <ul class="firstUl">
                    <li class="first"><a href="jiuzhen.html" class="firstA"><em>就诊指南</em><i
                            class="style01"></i><span></span></a>
                        <div class="QMSub QMSubMenus">
                            <ul>
                                <li><a href="jiuzhen.html" title="就诊流程">就诊流程<span>进入</span></a></li>
                                <li><a data-th-href="@{/depart/keshi/-1}" href="keshi.html" title="科室导航">科室导航<span>进入</span></a></li>
                                <li><a href="DutyTime.html" title="出诊安排">出诊安排<span>进入</span></a></li>
                                <li><a data-th-href="@{/depart/luxian}" href="Article-57.html" title="来院路线">来院路线<span>进入</span></a></li>
                            </ul>
                            <ul>
                                <li><a href="Article-65.html" title="信息查询">信息查询<span>进入</span></a></li>
                                <li><a href="https://map.baidu.com/poi/%E6%B9%96%E5%8D%97%E8%99%B9%E7%8C%AB%E4%BF%A1%E6%81%AF%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@12575210.205,3256269.74,19z?uid=95ec9d88422fdbe8e5e96572&ugc_type=3&ugc_ver=1&device_ratio=2&compat=1&querytype=detailConInfo&da_src=shareurl" target="_blank" title="省医地图">省医地图<span>进入</span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="first"><a data-th-href="@{/depart/keshi/-1}" href="" target="_blank" class="firstA"><em>预约挂号</em><i
                            class="style02"></i><span></span></a>
                    </li>
                    <li class="first"><a href="chuzhen.html" class="firstA"><em>出诊安排</em><i
                            class="style03"></i><span></span></a>
                        <div class="QMSub QMSubMenus">
                            <ul>
                                <li data-th-each="department:${departs}" data-th-object="${department}"><a data-th-href="@{/depart/keshilist(dId=*{departId})}" href="keshilist.html" data-th-title="*{departName}" data-th-text="*{departName}">内科<span>进入</span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </li>
                    <li class="first"><a href="keshi.html" class="firstA"><em>专家介绍</em><i
                            class="style04"></i><span></span></a>
                        <div class="QMSub QMSubList">
                            <div class="IndexWords">
                                <h5>按医生姓名首字母查找</h5>
                                <ul>
                                    <li>A</li>
                                    <li>B</li>
                                    <li>C</li>
                                    <li>D</li>
                                    <li>E</li>
                                    <li>F</li>
                                    <li>G</li>
                                    <li>H</li>
                                    <li>I</li>
                                    <li>J</li>
                                    <li>K</li>
                                    <li>L</li>
                                    <li>M</li>
                                    <li>N</li>
                                    <li>O</li>
                                    <li>P</li>
                                    <li>Q</li>
                                    <li>R</li>
                                    <li>S</li>
                                    <li>T</li>
                                    <li>U</li>
                                    <li>V</li>
                                    <li>W</li>
                                    <li>X</li>
                                    <li>Y</li>
                                    <li>Z</li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            <div class="DList"></div>
                        </div>
                    </li>
                    <li class="first"><a data-th-href="@{/depart/keshi/-1}" href="keshi.html" class="firstA"><em>专科介绍</em><i
                            class="style05"></i><span></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav Snav">
            <ul>
                <li class="PMenu"><a data-th-href="@{/}" href="index.html" class="PAMenu">首页</a></li>
                <li class="PMenu"><img data-th-src="@{/hors/images/ico_014.png}" src="../static/hors/images/ico_014.png"
                                       class="animated" width="15" height="8"/>
                    <a data-th-href="@{/depart/keshi/-1}" href="jiuzhen.html" id="Nav_AMenu0" class="PAMenu" title="就诊指南">就诊指南</a>
                    <div class="navboxBase">
                        <div class="navboxBg">
                            <div class="navbox BaseMark">
                                <div class="navMenus">
                                    <ul>
                                        <li><a data-th-href="@{/depart/keshi/-1}" href="keshi.html" title="科室导航">科室导航<span>进入</span></a></li>

                                        <li><a href="DutyTime.html" title="出诊安排">出诊安排<span>进入</span></a></li>

                                        <li><a data-th-href="@{/depart/luxian}" href="Article-57.html" title="来院路线">来院路线<span>进入</span></a></li>

                                        <li><a href="Article-65.html" title="信息查询">信息查询<span>进入</span></a></li>

                                        <li><a href="https://map.baidu.com/poi/%E6%B9%96%E5%8D%97%E8%99%B9%E7%8C%AB%E4%BF%A1%E6%81%AF%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@12575210.205,3256269.74,19z?uid=95ec9d88422fdbe8e5e96572&ugc_type=3&ugc_ver=1&device_ratio=2&compat=1&querytype=detailConInfo&da_src=shareurl" target="_blank" title="省医地图">省医地图<span>进入</span></a></li>

                                    </ul>
                                </div>
                                <div class="navSub2 nav_Menu01">
                                    <dl>
                                        <dt>尊敬的病人家属：</dt>
                                        <dd class="pic"><img data-th-src="@{/hors/pic/pic_001.jpg}"
                                                             src="../static/hors/pic/pic_001.jpg" width="126"
                                                             height="77"></dd>
                                        <dd class="text">欢迎您来我院探望亲友！为了保证病人的休息和治疗，维护良好的医疗秩序，请您配合在规定的时间内探视病人。</dd>
                                        <dd class="info"><em>我院病房探视时间为：</em>
                                            <p>每周一至周六：下午 3：00 - 7：00</p>
                                            <p>周日：上午 9：00 - 12：00</p>
                                            <p>下午 3：00 - 7：00</p></dd>
                                    </dl>
                                    <div class="BottomHidden"></div>
                                    <dl>
                                        <dt>医院标题</dt>
                                        <dd class="pic"><img data-th-src="@{/hors/pic/pic_002.jpg}"
                                                             src="../static/hors/pic/pic_002.jpg" width="126"
                                                             height="77"></dd>
                                        <dd class="text"><p>座落于中华民族的发源地长沙 ，是历史悠久的西医医院。</p>
                                            <p>医院详细地址位于城区东郊 。</p></dd>
                                        <dd class="info"><em>急救电话 ：120 </em>
                                            <span>120</span></dd>
                                    </dl>
                                </div>
                                <div class="navSub3 nav_Route">
                                    <dl>
                                        <dt>乘车路线</dt>
                                        <dd><em>公交全部路线</em>
                                            <p>地址：湖南省长沙市岳麓区银盆岭街道银盆南路金荣科技园M1组团B座408房</p>
                                            <p>公交全部路线：26路快线;109路;117路;118路;308路;318路;355路;401路;407路;410路;417路;903路;913路 </p></dd>
                                        <p>地铁站路线：在4号线<span style="color: red">六沟垅站</span>下车</p>
                                    </dl>
                                    <a href="https://map.baidu.com/poi/%E6%B9%96%E5%8D%97%E8%99%B9%E7%8C%AB%E4%BF%A1%E6%81%AF%E7%A7%91%E6%8A%80%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/@12575210.205,3256269.74,19z?uid=95ec9d88422fdbe8e5e96572&ugc_type=3&ugc_ver=1&device_ratio=2&compat=1&querytype=detailConInfo&da_src=shareurl" target="_blank">电子地图</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="PMenu"><img data-th-src="@{/hors/images/ico_014.png}" src="../static/hors/images/ico_014.png"
                                       class="animated" width="15" height="8"/><a data-th-href="@{/depart/jianjie}" href="Article-3.html" id="Nav_AMenu1"
                                                                                  class="PAMenu" title="医院概况">医院概况</a>
                    <div class="navboxBase">
                        <div class="navboxBg">
                            <div class="navbox BaseMark">
                                <div class="navMenus">
                                    <ul>
                                        <li class="first"><a data-th-href="@{/depart/jianjie}" href="Article-3.html" title="医院简介">医院简介<span>进入</span></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="navSub5">
                                    <img data-th-src="@{/hors/images/pic_001.jpg}"
                                         src="../static/hors/images/pic_001.jpg" width="299" height="97"/>
                                    <p class="first">人民医院服务人民，百年省医健康福音。</p>
                                    <p><br/></p>
                                    <p>
                                        黄河之畔，绿城太原，坐落着一座拥有一百一十多年历史的神圣生命殿堂——医院标题。省医前身是中华基督教内地会1904年创办的开封“福音医院”，1950年更名为“医院标题”，1955年随省政府迁址太原，2010年增名“人民医院”，2012年被确定为“部省共建”医院。</p>
                                    <a data-th-href="@{/depart/jianjie}" href="Article-3.html" class="Amore">了解详情</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="PMenu current">
                    <img data-th-src="@{/hors/images/ico_014.png}"
                         src="../static/hors/images/ico_014.png"
                         class="animated"
                         width="15"
                         height="8"/>
                    <a data-th-href="@{/news/all}" href="news.html"
                       id="Nav_AMenu5"
                       class="PAMenu"
                       title="新闻动态">新闻动态</a>
                    <div class="navboxBase">
                        <div class="navboxBg">
                            <div class="navbox BaseMark">

                                <div class="navMenus">
                                    <ul>
                                        <li class="first"><a data-th-href="@{/news/all}" href="news.html" title="省医快讯">省医快讯<span>进入</span></a></li>

                                        <li><a data-th-href="@{/news/notice}" href="news.html" title="最新公告">最新公告<span>进入</span></a></li>

                                    </ul>
                                </div>
                                <div class="navSub2 nav_Menu02 noPic NewsSub">
                                    <dl class="Img02">
                                        <dt class="title01">最新公告</dt>
                                        <dd class="pic"><img alt="最新公告" data-th-src="@{/hors/pic/pic_002.jpg}"
                                                             src="../static/hors/pic/pic_002.jpg" width="126"
                                                             height="77"/></dd>
                                        <dd class="Lurl">
                                            <em>2016-12-02</em><a href='NewsDetail-8403.html'
                                                                  title='阜外华中心血管病医院 内设机构部门负责人竞选安排'>阜外华中心血管病医院
                                            内设机构部门负责人竞选安排</a></dd>
                                        <dd class="url"><span>2016-10-21</span><a href="NewsDetail-8249.html"
                                                                                  title="山西省立眼科医院（山西省眼科研究所）基础研究部门正、副科级干部竞聘实施方案（面向国内外）">山西省立眼科医院（山西省眼科研究所）基础研究部门正、副科级干部竞聘实施方案（面向国内外）</a>
                                        </dd>
                                        <dd class="url"><span>2016-10-21</span><a href="NewsDetail-8248.html"
                                                                                  title="山西省立眼科医院（山西省眼科研究所）临床部门干部竞聘实施方案（面向国内外）">山西省立眼科医院（山西省眼科研究所）临床部门干部竞聘实施方案（面向国内外）</a>
                                        </dd>
                                        <dd class="url"><span>2015-10-13</span><a href="NewsDetail-7246.html"
                                                                                  title="医院标题公开招聘超声医师的公告">医院标题公开招聘超声医师的公告</a>
                                        </dd>
                                    </dl>
                                    <div class="BottomHidden"></div>
                                    <dl>
                                        <dt class="title01">省医快讯</dt>
                                        <dd class="url" data-th-each="sigle:${news}" data-th-object="${sigle}"><span data-th-text="*{#dates.format(newsDate,'yyyy-MM-dd HH:mm:ss')}">2016-12-29</span><a data-th-href="@{/news/scanCount(newId=*{newId})}" href="newslist.html"
                                                                                                                                                                                                         data-th-title="*{title}">互联智慧疼痛医联体全面启动</a>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="navSub4 nav_Menu02 noPic">
                                    <dl>
                                        <dt class="title02">新业务新技术</dt>
                                        <dd class="url"><span>2016-12-13</span><a href="NewsDetail-8482.html"
                                                                                  title="我院成功实施首例ECMO院间转运">我院成功实施首例ECMO院间转运</a>
                                        </dd>
                                        <dd class="url"><span>2016-12-13</span><a href="NewsDetail-8481.html"
                                                                                  title="介入科经桡动脉治疗93岁高龄颈动脉狭窄患者">介入科经桡动脉治疗93岁高龄颈动脉狭窄患者</a>
                                        </dd>
                                        <dd class="url"><span>2016-11-30</span><a href="NewsDetail-8393.html"
                                                                                  title="介入科实施全国首例经静脉途径高危脑动静脉畸形栓塞术">介入科实施全国首例经静脉途径高危脑动静脉畸形栓塞术</a>
                                        </dd>
                                    </dl>
                                    <div class="BottomHidden"></div>
                                    <dl>
                                        <dt class="title02">服务动态</dt>
                                        <dd class="url"><span>2016-09-07</span><a href="NewsDetail-8113.html"
                                                                                  title="PICU完成全省首例超低体重儿食管狭窄球囊扩张术">PICU完成全省首例超低体重儿食管狭窄球囊扩张术</a>
                                        </dd>
                                        <dd class="url"><span>2016-09-06</span><a href="NewsDetail-8094.html"
                                                                                  title="全省首例单纯超声引导下 肺动脉瓣狭窄球囊扩张术成功救治8岁患儿">全省首例单纯超声引导下
                                            肺动脉瓣狭窄球囊扩张术成功救治8岁患儿</a></dd>
                                        <dd class="url"><span>2016-09-06</span><a href="NewsDetail-8093.html"
                                                                                  title="心电生理中心完成我院首例 心腔内超声指导下三维射频消融术">心电生理中心完成我院首例
                                            心腔内超声指导下三维射频消融术</a></dd>
                                    </dl>
                                    <div class="BottomHidden"></div>
                                    <dl>
                                        <dt class="title02">媒体看省医</dt>
                                        <dd class="url"><span>2016-11-09</span><a href="NewsDetail-8345.html"
                                                                                  title="好消息！医院标题将免费救助百名先心病患儿">好消息！医院标题将免费救助百名先心病患儿</a>
                                        </dd>
                                        <dd class="url"><span>2016-09-26</span><a href="NewsDetail-8173.html"
                                                                                  title="驻村就是驻心:第一书记打通驻马店村民奔小康的路">驻村就是驻心:第一书记打通驻马店村民奔小康的路</a>
                                        </dd>
                                        <dd class="url"><span>2016-09-26</span><a href="NewsDetail-8172.html"
                                                                                  title="《山西日报》百年省医孕育诞生山西省首家生殖专科医院 在尊重、关怀和爱中迎接一个个新的生命">《山西日报》百年省医孕育诞生山西省首家生殖专科医院
                                            在尊重、关怀和爱中迎接一个个新的生命</a></dd>
                                    </dl>
                                </div>
                                <div class="clear"></div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form class="layui-form" action="" data-th-action="@{/doctor/order}" data-th-method="post" method="post">
    <br><br><br>
    <div class="baseRight">
    <h2 ><font color="blue">您预约的医生:</font></h2>
    <font color="green"> <span data-th-text="${doctor.department.departName}"></span></font>
    <font color="red"> <span data-th-text="${doctor.name}"></span>(<span data-th-text="${doctor.position}"></span>)</font><br>
    <h2 ><font color="blue">预约就诊时间：</font></h2>
    <font color="red"> <span data-th-text="${date}"></span>  上午</font>
    <input type="hidden" name="doctorId" data-th-value="${doctor.doctorId}">

    <div class="layui-form-item">
        <label class="layui-form-label">请选择时段</label>
        <div class="layui-input-block">
            <ul>
                <li data-th-each="timeline:${timelines}">
                    <input type="radio" lay-verify="required" checked="checked" name="tId" value="1" title="8：00" data-th-value="${timeline.tId}" data-th-title="${#dates.format(timeline?.date,'yyyy-MM-dd')+timeline.startTime}"
                           data-th-if="${#strings.contains(timeline.startTime,'8:00') ||
                           #strings.contains(timeline.startTime,'9:00') ||
                           #strings.contains(timeline.startTime,'10:00') ||
                           #strings.contains(timeline.startTime,'11:00')}">
                </li>
            </ul>
        </div>
    </div>

    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">下一步</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use(['form','jquery'], function(){
        let {form,$} = layui;

        // //监听提交
        // form.on('submit(formDemo)', function(data){
        //     layer.msg(JSON.stringify(data.field));
        //     $.ajax({
        //
        //     });
        //     return false;
        // });
    });
</script>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Common.js}" src="../static/hors/js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Secondary.js}" src="../static/hors/js/Kunyi.Secondary.js"></script>
</body>
</html>
