<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约时间段</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" data-th-href="@{/hors/css/normalize.css}" href="../static/hors/css/normalize.css" type="text/css"/>
    <link rel="stylesheet" data-th-href="@{/hors/css/secondary.css}" href="../static/hors/css/secondary.css" type="text/css"/>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Respond.min.js}"
            src="../static/hors/js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/KunyiHTML5.min.js}"
            src="../static/hors/js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyilibrary.js}"
            src="../static/hors/js/Kunyilibrary.js"></script>
    <!--    导入layui-->
    <script src="../static/layui/layui.js" data-th-src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" data-th-href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">
</head>
<body>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Init.js}"
        src="../static/hors/js/Kunyi.Init.js"></script>

<form class="layui-form" action="" data-th-action="@{/doctor/order}" data-th-method="post" method="post">

    <h2 ><font color="aqua">您预约的医生:</font></h2>
    <font color="green"> <span data-th-text="${doctor.department.departName}"></span></font>
    <font color="red"> <span data-th-text="${doctor.name}"></span>(<span data-th-text="${doctor.position}"></span>)</font><br>
    <h2 ><font color="aqua">预约就诊时间：</font></h2>
    <font color="red"> <span data-th-text="${date}"></span>  下午</font>
    <input type="hidden" name="doctorId" data-th-value="${doctor.doctorId}">
    <div class="layui-form-item">
        <label class="layui-form-label">请选择时段</label>
        <div class="layui-input-block">
            <ul>
                <li data-th-each="timeline:${timelines}">
                    <input type="radio" name="tId" checked="checked" value="1" title="8：00" data-th-value="${timeline.tId}" data-th-title="${#dates.format(timeline?.date,'yyyy-MM-dd')+ timeline.startTime}"
                           data-th-if="${#strings.contains(timeline.startTime,'13:00') ||
                           #strings.contains(timeline.startTime,'14:00') ||
                           #strings.contains(timeline.startTime,'15:00') ||
                           #strings.contains(timeline.startTime,'16:00')}">
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">下一步</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        // //监听提交
        // form.on('submit(formDemo)', function(data){
        //     layer.msg(JSON.stringify(data.field));
        //     return false;
        // });
    });
</script>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Common.js}" src="../static/hors/js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Secondary.js}" src="../static/hors/js/Kunyi.Secondary.js"></script>
</body>
</html>
