<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf,org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>医生|呼吸内科 - 科室导航 - 就诊指南 - 医院标题</title>
    <meta name="Keywords" content="医院标题,人民医院,省医,山西人民医院,咨询, 留言, 山西医院, 寻医问药"/>
    <meta name="Description"
          content="医院标题位于山西省太原市，建院于1906年，是一家三级甲等综合医院。医院秉承“患者至上，员工为本”的服务理念，弘扬“仁爱、博学、严谨、卓越”的医院精神，坚持“人民医院为人民”的办院宗旨，造就了一支业务精湛、医德高尚、纪律严明、作风过硬的职工队伍，树立了社会满意、患者信赖的良好形象。先后获得全国精神文明建设先进单位、全国文明单位、全国卫生系统先进集体、全国医院文化建设先进单位等多项荣誉称号。"/>
    <meta name="robots" content="All"/>
    <noscript>
        <meta http-equiv="refresh" content="0; url=/noscript.htm"/>
    </noscript>
    <!--[if lt IE 7]>
    <meta http-equiv="refresh" content="0; url=/YouLose.htm"/><![endif]-->
    <!--    排班表格引入的样式-->
    <link rel="stylesheet" type="text/css" data-th-href="@{/hors/css/ys.css}" href="../static/hors/css/ys.css"/>
    <!--    导入layui-->
    <script src="../static/layui/layui.js" data-th-src="@{/layui/layui.js}"></script>
    <link rel="stylesheet" data-th-href="@{/layui/css/layui.css}" href="../static/layui/css/layui.css">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" data-th-href="@{/hors/css/normalize.css}" href="../static/hors/css/normalize.css"
          type="text/css"/>
    <link rel="stylesheet" data-th-href="@{/hors/css/secondary.css}" href="../static/hors/css/secondary.css"
          type="text/css"/>
    <!--[if lt IE 9]>
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Respond.min.js}"
            src="../static/hors/js/Kunyi.Respond.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/KunyiHTML5.min.js}"
            src="../static/hors/js/KunyiHTML5.min.js"></script>
    <script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyilibrary.js}"
            src="../static/hors/js/Kunyilibrary.js"></script>
</head>
<body>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Init.js}"
        src="../static/hors/js/Kunyi.Init.js"></script>

<section class="BaseMark">
    <div class="doctorLeft">
        <img data-th-src="${doctor.picture}" src="../static/hors/pic/2.jpg" id="DThumb" class="DThumb" width="112"
             height="150"
             alt="医生"/>
        <h3 id="H3Name" data-th-text="${doctor.name}">医生2</h3>
        <h4 id="H4Position" data-th-text="${doctor.position}">主任医师，科主任</h4>
        <a href="NewsDetail-449.html" target="_blank">
            <img data-th-src="@{/hors/images/ico_028.jpg}"
                 src="../static/hors/images/ico_028.jpg" width="22" height="22">对该医生评论</a>
    </div>
    <div class="doctorRight">
        <div class='import import1'></div>
        <div class="title01"><h3>所在科室：</h3>
            <h1 data-th-text="${doctor.department.departName}">呼吸内科</h1>
            <span><a data-th-href="@{/depart/keshimx(departId=${doctor.departId})}" href="keshiys.html"
                     data-th-title="${doctor.department.departName}">进入科室</a></span>
        </div>
        <div class="clear"></div>
        <div id="DIVContent" class="article intro">
            <p data-th-text="${doctor.introduce}">
                医院标题呼吸内科科主任，
                1983年山西医学院医学系毕业，从事呼吸内科临床诊疗、科研、教学工
                作27年。现任医院标题老年临床医学部呼吸内科主任，党总支组织委员，
                中华医学会呼吸病学会委员，山西省医学会呼吸专业委员会主任委员，
                中国睡眠研究会理事，中国医师协会全国睡眠医学专家委员会委员，美国胸科医师协会(ACCP)资深会员(FCCP)，
                山西省生物医学工程学会常务理事，山西省防痨协会常务理事，
                山西省中西医结合委员会委员，《中华实用诊断与治疗杂志》、《中国实用医刊杂志》常务编委、
                《中华结核和呼吸病杂志》通讯编委、《中华哮喘杂志》编委。国务院政府
                特殊津贴享受专家。山西中医学院老年内科、山东大学硕士生导师。
                在山西省率先开展重症通气治疗，举办无创正压通气学习班，呼吸疾病介入学习班，推广普及卫生部十年百项计划“无创正压通气技术普及应用”。
                成立了山西省睡眠呼吸障碍诊疗中心及网站，为我省睡眠医学的发展奠定良好基础。在省内优先开展了重症感染及抗菌药物临床应用PK/PD系列研究。
                率先开展呼吸疾病介入治疗。专业特长:&nbsp;&nbsp;机械通气技术、抗感染药物应用、呼吸疾病介入诊疗技术，睡眠呼吸障碍诊疗技术（已获奖及设置省中心）。
                主编、参编专著10部，发表论文60余篇，其中全国性专业核心期刊上发表36篇。获省部级，厅级成果奖9项，其中“老年细菌性肺炎抗菌药物的临床应用机药代动力学
                研究”受到钟南山及陈可冀两位院士的高度评价。专利8项。参与申请国家级项目7项，目前承担山西省科技厅、卫生厅课题7项。
            </p>
            <span></span><span style="font-family:'Tahoma';color:#121212;font-size:9pt;"></span>
            <p>
                <br/>
            </p>
        </div>
        <div id="DIVOnDutyInfo" class="visitDate">
            <div class="title">出诊安排<em>Visits Time</em></div>

            <div class="tab_con">
                <div id="doctor_index" class="doctor_pane active">
                    <table border="0" cellspacing="0" cellpadding="0" class="doctor_table" width="874">
                        <tr>
                            <td class="tb_header">时间地点</td>
                            <td colspan="9">
                                <div>HORS医院</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">时段</td>
                            <td rowspan="4" class="arrow_left">
                                <div><i class="layui-icon layui-icon-prev"></i></div>
                            </td>
                            <td rowspan="4" class="arrow_right right_active">
                                <div><i class="layui-icon layui-icon-next"></i></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_header">上午</td>
                        </tr>
                        <tr>
                            <td class="tb_header">下午</td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</section>
<div class="BottomHidden"></div>
<div id="QRBase">
    <div class="BaseMark">
        <div class="QRBase">
            <div class="QRList">
                <ul>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR01.jpg}" src="../static/hors/pic/pic_QR01.jpg"
                                  width="75" height="75"/><label>医院标题APP</label></div>

                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR02.jpg}" src="../static/hors/pic/pic_QR02.jpg"
                                  width="75" height="75"/><label>健康之路APP</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR03.jpg}" src="../static/hors/pic/pic_QR03.jpg"
                                  width="75" height="75"/><label>挂号网APP</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR04.jpg}" src="../static/hors/pic/pic_QR04.jpg"
                                  width="75" height="75"/><label>山西省预约挂号平台Androi客户端</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR05.jpg}" src="../static/hors/pic/pic_QR05.jpg"
                                  width="75" height="75"/><label>山西省预约挂号平台IOS客户端</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR06.jpg}" src="../static/hors/pic/pic_QR06.jpg"
                                  width="75" height="75"/><label>山西预约挂号平台微信号</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR07.jpg}" src="../static/hors/pic/pic_QR07.jpg"
                                  width="75" height="75"/><label>健康之路微信公众号</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR08.jpg}" src="../static/hors/pic/pic_QR08.jpg"
                                  width="75" height="75"/><label>名医网微信公众号</label></div>
                    </li>
                    <li>
                        <div><img data-th-src="@{/hors/pic/pic_QR09.jpg}" src="../static/hors/pic/pic_QR09.jpg"
                                  width="75" height="75"/><label>挂号网微信公众号</label></div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            <button class="QRClose animated">关闭</button>
            <div class="BottomHidden"></div>
        </div>
    </div>
</div>
<footer><img data-th-src="@{/hors/images/ico_036.png}" src="../static/hors/images/ico_036.png" width="35" class="load"
             height="18" id="QRMark"/>
    <div class="menusBase">
        <div class="BaseMark">
            <dl>
                <dt><img data-th-src="@{/hors/images/ico_006.jpg}" src="../static/hors/images/ico_006.jpg" class="load"
                         width="36" height="34"/><em>门诊服务</em><span>outpatient services</span>
                </dt>
                <dd><a href="NewsDetail-449.html" title="预约流程" target="_blank">预约流程</a></dd>
                <dd><a href="NewsDetail-448.html" title="门诊须知" target="_blank">门诊须知</a></dd>
                <dd><a href="Article-57.html" title="院内导航" target="_blank">院内导航</a></dd>
            </dl>
            <dl>
                <dt><img data-th-src="@{/hors/images/ico_008.jpg}" src="../static/hors/images/ico_008.jpg" class="load"
                         width="36" height="34"/><em>住院服务</em><span>hospitalized services</span>
                </dt>
                <dd><a href="Article-56.html" title="住院须知" target="_blank">住院须知</a></dd>
                <dd><a href="NewsDetail-461.html" title="检查须知" target="_blank">检查须知</a></dd>
                <dd><a href="Article-56.html" title="住院清单" target="_blank">住院清单</a></dd>
            </dl>
            <dl>
                <dt><img data-th-src="@{/hors/images/ico_009.jpg}" src="../static/hors/images/ico_009.jpg" class="load"
                         width="36" height="34"/><em>体检服务</em><span>examination services</span>
                </dt>
                <dd><a href="NewsDetail-461.html" title="体检须知" target="_blank">体检须知</a></dd>
                <dd><a href="NewsDetail-7684.html" title="体检套餐查询" target="_blank">体检套餐查询</a></dd>
                <dd><a href="CheckupsInfo.html" title="体检报告查询" target="_blank">体检报告查询</a></dd>
            </dl>
            <div class="QRBtn"><img data-th-src="@{/hors/images/tempQR.jpg}" src="../static/hors/images/tempQR.jpg"
                                    class="load" width="85" height="85"/> <span>扫描关注官方微信号</span>
                <a href="javascript:void(0)" id="BtnQRMore">更多二维码</a></div>

            <div class="newsPaper">
                <div class="npTitle"><img data-th-src="@{/hors/images/ico_010.jpg}"
                                          src="../static/hors/images/ico_010.jpg" class="load" width="28"
                                          height="39"/><em>省医院报</em><span>内部资料 仅供阅读</span></div>
                <div class="DChange"><select class="DYear" id="ddlYears">
                    <option value="0">年份</option>
                    <option value="2017">2017年</option>
                    <option value="2016">2016年</option>
                    <option value="2015">2015年</option>
                    <option value="2014">2014年</option>
                </select>
                    <select class="DTime" id="ddlTimes">
                        <option value="0">期数</option>
                    </select></div>
                <input class="newsPaperBtn animated" name="btnGoNewsPaper" id="btnGoNewsPaper" value="阅览"
                       type="button"/>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="BottomHidden"></div>
    <div class="DWeibo"><a href="javascript:;" class="weibo" title="新浪微博">新浪官方微博</a><a href="javascript:;"
                                                                                       class="tencent" title="腾讯微博">腾讯官方微博</a>
        <div class="clear"></div>
    </div>
    <div class="urlHidden"></div>
    <div class="websiteInfo">
        <div class="info">主办单位：医院标题 &nbsp; &nbsp;综合服务电话：120&nbsp;&nbsp; &nbsp;急救中心电话：120 &nbsp; 传真：120 &nbsp; 地 址：地址地址地址
            &nbsp;<br/> 版权所有：医院标题
        </div>
        <ul>
            <li class="first"><a href="Article-3.html" target="_blank">关于我们</a></li>
            <li><a href="Declaration.html" target="_blank">法律声明</a></li>
            <li><a href="SiteMap.html" target="_blank">网站地图</a></li>
            <li><a href="Article-57.html" target="_blank">联系我们</a></li>
            <li><a href="Complain.html" target="_blank">院长(信访)信箱</a></li>
        </ul>
        <div class="clear"></div>
        <p> &copy;2015-
            <script language="javascript" type="text/javascript">document.write(new Date().getFullYear());</script>
            . All Rights Reserved. <a href="http://www.kaicz.com" target="_blank">备案号0000001 </a></p>
        <select id="ddlLinks">
            <option value="0"><span>友情链接</span> HYPERLINK</option>
            <option value="http://www.chinapop.gov.cn/">中华人民共和国卫生和计划生育委员会</option>
        </select>
    </div>
</footer>
<div id="Footer_CodeDiv">
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F4a1d36386e8734a5fd29acec9114818d' type='text/javascript'%3E%3C/script%3E"));
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fafd2ae44e23648da4e8a81a7b1349be4' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
<script type="text/javascript" data-th-src="@{/layui/lay/modules/jquery.js}"
        src="../static/layui/lay/modules/jquery.js"></script>
<!--<script th:inline="javascript"  data-th-src="@{/hors/js/script.js}"  src="../static/hors/js/script.js"></script>-->
<script th:inline="javascript">
    $(function () {
        var d = 10;//需要显示的预约天数
        //获取几天后（前）的日期以及周几
        function fun_date(aa) {
            var date1 = new Date(),
                time1 = date1.getFullYear() + "-" + (date1.getMonth() + 1) + "-" + date1.getDate(); //time1表示当前时间
            var date2 = new Date(date1);
            date2.setDate(date1.getDate() + aa);
            var month=date2.getMonth()+1;
            if(month<10){
                var s = "0"+month;
                // s.concat(month);
                month = s ;
            }
            var time2 = date2.getFullYear() + "-" +month + "-" + date2.getDate();
            var w = "";
            switch (date2.getDay()) {
                case 0:
                    w = "周日"
                    break;
                case 1:
                    w = "周一"
                    break;
                case 2:
                    w = "周二"
                    break;
                case 3:
                    w = "周三"
                    break;
                case 4:
                    w = "周四"
                    break;
                case 5:
                    w = "周五"
                    break;
                case 6:
                    w = "周六"
                    break;
                default:
                    w = ""
            }
            var dd = {};
            dd.day = time2;
            dd.week = w
            return dd;
        }

        var doctor_order = '<td rowspan="4" class="doctor_order"><table border="0"><tr>';
        for (var i = 0; i < d; i++) {
            if (i == 0) {
                doctor_order += '<td><div class="time">' + fun_date(i).day + '</div><div class="week">今天</div></td>'
            } else if (i == 1) {
                doctor_order += '<td><div class="time">' + fun_date(i).day + '</div><div class="week">明天</div></td>'
            } else if (i == 2) {
                doctor_order += '<td><div class="time">' + fun_date(i).day + '</div><div class="week">后天</div></td>'
            } else {
                doctor_order += '<td><div class="time">' + fun_date(i).day + '</div><div class="week">' + fun_date(i).week + '</div></td>'
            }
        }
        doctor_order += '</tr>';
        var timelineList = [[${doctor.timelineList}]];
        var doctorId = [[${doctor.doctorId}]];
        for (var j = 0; j < 2; j++) {
            doctor_order += "<tr>";
            if (j == 0) {
                for (var k = 0; k < d; k++) {
                    //上午预约的人数
                    var quota = 0;
                    for (let timelineListElement of timelineList) {
                        var d1 = timelineListElement.date;
                        var d2 = fun_date(k).day;
                        // console.log(d1);
                        // console.log(d2);
                        if (d1===d2) {
                            if (timelineListElement.status == 1) {
                                //$.inArry(['8:00','9:00','10:00','11:00'],timelineListElement.startTime)>=0 不知道为啥jquery没这方法
                                //正则表达式判断是否为上午
                                if (/^(8:00|9:00|10:00|11:00)$/.test(timelineListElement.startTime)) {
                                    quota += timelineListElement.quota;
                                }
                            }
                        }
                    }
                    if (quota > 0) {
                        console.log(doctorId);
                        doctor_order += "<td><a data-th-href='@{/doctor/order(doctorId=${doctorId})}' href='/doctor/order?doctorId=[[${doctor.doctorId}]]&line=0&date="+fun_date(k).day+"'  >可预约" + quota + "</a></td>";
                    } else {
                        doctor_order += "<td></td>";
                    }
                }
            } else {
                for (var k = 0; k < d; k++) {
                    //下午预约的人数
                    var quota = 0;
                    for (let timelineListElement of timelineList) {
                        var d1 = timelineListElement.date;
                        var d2 = fun_date(k).day;
                        // console.log(d1);
                        // console.log(d2);
                        if (d1===d2) {
                            if (timelineListElement.status == 1) {
                                //正则表达式判断是否为下午
                                if (/^(14:00|15:00|16:00|17:00)$/.test(timelineListElement.startTime)) {
                                    quota += timelineListElement.quota;
                                }
                            }
                        }
                    }
                    if (quota > 0) {
                        console.log(doctorId);
                        doctor_order += "<td><a data-th-href='@{/doctor/order(doctorId=${doctor.doctorId})}' href='/doctor/order?doctorId=[[${doctor.doctorId}]]&line=1&date="+fun_date(k).day+"' >可预约" + quota + "</a></td>";
                    } else {
                        doctor_order += "<td></td>";
                    }

                }
            }
            doctor_order += "</tr>";
        }
        doctor_order += '</table></td>';
        $(".arrow_left").after(doctor_order);
        $(".doctor_order>table").width(d * 140);
        //选项卡
        $(".tab_hd div").click(function () {
            var _this = $(this);
            var i = _this.index();
            _this.addClass("active");
            _this.siblings().removeClass("active");
            $(".doctor_pane").eq(i).addClass("active");
            $(".doctor_pane").eq(i).siblings().removeClass("active");
        })
        //点击左右箭头
        //动画执行完为true
        var type = true;

        function change(c) {
            var left = parseInt($(".doctor_order table").css("left"));
            console.log("位移是" + left);
            left = left + (-c * 140);
            if (left > 0) {
                console.log("左边没有了")
                $(".arrow_left div img").attr("src", "img/left.png");
                $(".arrow_left").removeClass("left_active");
            } else if (left < (d - 7) * -140) {
                console.log("右边没有了")
                $(".arrow_right div img").attr("src", "img/right.png");
                $(".arrow_right").removeClass("right_active");
            } else {
                console.log("aaaaaaaaaaaaaaa")
                $(".arrow_left div img").attr("src", "img/left_active.png");
                $(".arrow_right div img").attr("src", "img/right_active.png");
                $(".arrow_left").addClass("left_active");
                $(".arrow_right").addClass("right_active");
                $(".doctor_order table").animate({left: left + "px"}, 1000);
                type = true;
                console.log(type)
            }
        }

        var time = 0;
        $(".arrow_left").click(function () {
            if (time == 0) {
                time = 1; //设定间隔时间（秒）
                //启动计时器，倒计时time秒后自动关闭计时器。
                var index = setInterval(function () {
                    time--;
                    if (time == 0) {
                        clearInterval(index);
                    }
                }, 1000);
                change(-1);
            } else {
                // alert('目前按钮事件不允许被触发');
            }


        })

        $(".arrow_right").click(function () {
            if (time == 0) {
                time = 1; //设定间隔时间（秒）
                //启动计时器，倒计时time秒后自动关闭计时器。
                var index = setInterval(function () {
                    time--;
                    if (time == 0) {
                        clearInterval(index);
                    }
                }, 1000);
                change(1);
            } else {
                // alert('目前按钮事件不允许被触发');
            }

        })
    })
</script>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Common.js}"
        src="../static/hors/js/Kunyi.Common.js"></script>
<script language="javascript" type="text/javascript" data-th-src="@{/hors/js/Kunyi.Secondary.js}"
        src="../static/hors/js/Kunyi.Secondary.js"></script>
</body>
</html>