<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hors.mapper.NewsMapper">
  <resultMap id="BaseResultMap" type="cn.hors.bean.News">
    <id column="new_id"  property="newId" />
    <result column="title"  property="title" />
    <result column="content"  property="content" />
    <result column="news_date"  property="newsDate" />
    <result column="source"  property="source" />
    <result column="count" property="count"/>
  </resultMap>
  <sql id="Base_Column_List">
    new_id, title, content, news_date, `source`,`count`
  </sql>
  <sql id="BASIC_WHERE">
    <if test="newId != null">
        and new_id = #{newId}
    </if>
    <if test="title != null and title != ''">
        and title = #{title}
    </if>
    <if test="content != null and content != ''">
        and content = #{content}
    </if>
    <if test="newsDate != null">
        and news_date=#{newsDate}
    </if>
    <if test="source != null and source != ''">
        and source = #{source}
    </if>
    <if test="count != null">
        and `count` = #{count}
    </if>
</sql>

  <select id="findNewsAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from news
    <where>
    <include refid="BASIC_WHERE"></include>
    and source !='公告'
    </where>
    order by `count` desc , news_date desc
  </select>
  <select id="findNoticeAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from news
    <where>
    <include refid="BASIC_WHERE"></include>
    and source='公告'
    </where>
    order by `count` desc , news_date desc
  </select>
  <select id="findByNewId" resultMap="BaseResultMap">
   select <include refid="Base_Column_List"></include>
   from news where new_id = #{newId}
  </select>

  <update id="updateCount" parameterType="cn.hors.bean.News">
    update news
    set `count`=#{count}
    where new_id = #{newId}
  </update>

  <select id="findNewsRows" resultType="java.lang.Integer">
    select count(*) from news
  </select>


</mapper>